mixin bArticle-single(mod, vars)
    // Статья с текстом
    // b-article
    article.b-article.b-article__single.clearfix(class=mod)
        if (!vars)
            - vars = bArticleSingle.base

        .b-article_cont.clearfix
            .b-article_header.clearfix
                .float-l
                    +ava("ava__female ava__small-xxs ava__middle-xs ava__middle-sm-mid ", ava.a)
                    a.b-article_author(href='#') Ангелина Богоявленская
                    time.tx-date(pubdate='1957-10-04') Сегодня 13:25
                .icons-meta
                    a.icons-meta_comment(href='#')
                        span.icons-meta_tx 35
                    .icons-meta_view
                        span.icons-meta_tx 305
            h1.b-article_t 
                | Самое лучшее утро - просыпаюсь, а ты рядом
                if(vars.redactor)
                    .redactor-panel
                        a.ico-redactor.ico-redactor__interest.powertip(href='#', title='Самое интересное')
                        a.ico-redactor.ico-redactor__blog.powertip(href='#', title='Блоги на главную')
                        a.ico-redactor.ico-redactor__social.powertip.active(href='#', title='Посты в соцсети')
                        a.ico-redactor.ico-redactor__mail.powertip(href='#', title='Посты в рассылку')
            .b-article_in.clearfix
                .wysiwyg-content.clearfix
                    p
                        | Недавно посмотрел фильм "Убить Дракона" снятый в 1988 году с Абдуловым в главной роли. По мотивам пьесы Евгения Шварца «Дракон».
                    .b-article_in-img.b-article_in-img__l
                        a(href='#')
                            img(alt='', src='#{path}images/example/w600-h415.jpg')
                            .b-article_in-img-overlay
                    p В половине чашке горячей воды разведем желатин. Дадим ему остыть. Желе для торта разводим согласно инструкции. Поломаем не небольшие кусочки крекер. Апельсин почистим и разберем на дольки. а не только лишь на экране, все же Роберт Паттинсон и Кристен Стюарт расстались и пока решили взять паузу в своих отношениях.
                    p В половине чашке горячей воды разведем желатин. Дадим ему остыть. Желе для торта разводим согласно инструкции. Поломаем не небольшие кусочки крекер. 
                    p В половине чашке горячей воды разведем желатин. Дадим ему остыть. Желе торта разводим согласно инструкции. Поломаем не небольшие кусочки крекер. Апельсин почистим и разберем на дольки. а не только лишь на экране, все же Роберт Паттинсон и Кристен Стюарт расстались и пока решили взять паузу в своих отношениях.
                    ul 
                        li  Желе торта разводим согласно инструкции. Поломаем не небольшие кусочки крекер. Апельсин почистим и разберем на дольки. а не только лишь на экране, все же Роберт Паттинсон и Кристен Стюарт расстались и пока решили взять паузу в своих отношениях.
                        li A не только лишь на экране, все же Роберт Паттинсон и Кристен Стюарт расстались и пока решили взять паузу в своих отношениях.
                        li В половине чашке горячей воды разведем желатин. Дадим ему остыть. Желе торта разводим согласно инструкции. Поломаем не небольшие кусочки крекер. Апельсин почистим и разберем на дольки. а не только лишь на экране, все же Роберт Паттинсон и Кристен Стюарт расстались и пока решили взять паузу в своих отношениях.
                    p В половине чашке горячей воды разведем желатин. Дадим ему остыть. Желе для торта разводим согласно инструкции. Поломаем не небольшие кусочки крекер. 
                    p В половине чашке горячей воды разведем желатин. Дадим ему остыть. Желе торта разводим согласно инструкции. Поломаем не небольшие кусочки крекер. Апельсин почистим и разберем на дольки. а не только лишь на экране, все же Роберт Паттинсон и Кристен Стюарт расстались и пока решили взять паузу в своих отношениях.
                    h2 Апельсин почистим и разберем на дольки. а не только лишь на экране, все же Роберт Паттинсон и Кристен 
                    p В половине чашке горячей воды разведем желатин. Дадим ему остыть. Желе торта разводим согласно инструкции. Поломаем не небольшие кусочки крекер. Апельсин почистим и разберем на дольки. а не только лишь на экране, все же Роберт Паттинсон и Кристен Стюарт расстались и пока решили взять паузу в своих отношениях.
                    h3 Tолько лишь на экране, все же Роберт Паттинсон и Кристен 
                    p В половине чашке горячей воды разведем желатин. Дадим ему остыть. Желе торта разводим согласно инструкции. Поломаем не небольшие кусочки крекер. Апельсин почистим и разберем на дольки. а не только лишь на экране, все же Роберт Паттинсон и Кристен Стюарт расстались и пока решили взять паузу в своих отношениях.
                    ol 
                        li В половине чашке горячей воды разведем желатин. Дадим ему остыть. Желе торта разводим согласно инструкции. Поломаем не небольшие кусочки крекер. Апельсин почистим и разберем на дольки. а не только лишь на экране, все же Роберт Паттинсон и Кристен Стюарт расстались и пока решили взять паузу в своих отношениях.
                        li  Желе торта разводим согласно инструкции. Поломаем не небольшие кусочки крекер. Апельсин почистим и разберем на дольки. а не только лишь на экране, все же Роберт Паттинсон и Кристен Стюарт расстались и пока решили взять паузу в своих отношениях.
                        li A не только лишь на экране, все же Роберт Паттинсон и Кристен Стюарт расстались и пока решили взять паузу в своих отношениях.
                    p Апельсин почистим и разберем на дольки. а не только лишь на экране, все же Роберт Паттинсон и Кристен 
                    .b-article_in-img
                        .video-container
                            iframe(width='600', height='330', src='http://www.youtube.com/embed/IS9xI7Arrsk?wmode=transparent&feature=oembed&wmode=transparent', frameborder='0', allowfullscreen='')
                    p Дадим ему остыть. Желе торта разводим согласно инструкции. Поломаем не небольшие кусочки крекер. Апельсин почистим и разберем на дольки. а не только лишь на экране, все же Роберт Паттинсон и Кристен Стюарт расстались и пока решили взять паузу в своих отношениях.
                    .b-album

            .b-article_like.clearfix
                if (vars.btnEdit)
                    +articleSettings('', articleSettings.base)
                    +likeControl('like-control__line', likeControl.articleUser)
                else
                    +likeControl('like-control__line', likeControl.base)

            +customLikes('', customLikes.base)
            +bnr-enfomil1()
            +adv-yandex()

    // /b-article

- var bArticleSingle = {}
- bArticleSingle.base = {}
- bArticleSingle.base.btnEdit = false

- bArticleSingle.user = {}
- bArticleSingle.user.btnEdit = true

- bArticleSingle.redactor = {}
- bArticleSingle.redactor.btnEdit = true
- bArticleSingle.redactor.redactor = true


mixin bArticleListItem(mod, vars)
    // Статья с текстом
    // b-article
    article.b-article.b-article__list.clearfix(class=mod)
        .b-article_cont.clearfix
            .b-article_header.clearfix
                .float-l
                    +ava("ava__female ava__small-xxs ava__middle-xs ava__middle-sm-mid ", ava.a)
                    a.b-article_author(href='#') Ангелина Богоявленская
                    time.tx-date(pubdate='1957-10-04') Сегодня 13:25
                .icons-meta
                    a.icons-meta_comment(href='#')
                        span.icons-meta_tx 35
                    .icons-meta_view
                        span.icons-meta_tx 305
            .b-article_t-list
                a.b-article_t-a(href='#') Самое лучшее утро - просыпаюсь, а ты рядом
            .b-article_in.clearfix
                .wysiwyg-content.clearfix
                    //- Если не указали тип записи в миксине
                    if (!vars.type)
                        - vars.type = 'text'
                    if (vars.type == 'text')
                        // Текстовая статья
                        .b-article_in-img
                            a(href='#')
                                img(alt='', src='#{path}images/example/w600-h415.jpg')
                                .b-article_in-img-overlay
                    if (vars.type == 'video')
                        // Статья видео
                        .b-article_in-img
                            // Во всех статьях видео необходимо обвернуть в .video-container
                            .video-container
                                iframe(width='600', height='330', src='http://www.youtube.com/embed/IS9xI7Arrsk?wmode=transparent&feature=oembed&wmode=transparent', frameborder='0', allowfullscreen='')
                    // Описание определенное количество символов
                    p Дадим ему остыть. Желе торта разводим согласно инструкции. Поломаем не небольшие кусочки крекер. Апельсин почистим и разберем на дольки. а не только лишь  
                        a.ico-more(href='#')
                        a.ico-more-hover.display-n(href='#')

            if (vars.type == 'text')
                +commentsList('', commentsList.b)

            .b-article_like.clearfix
                if(vars.delete)
                    +cap-empty('cap-empty__abs cap-empty__white', capEmpty.articleDel)
                +articleSettings('', articleSettings.base)

                .article-also
                    .article-also_row
                        +likeControl('like-control__small', likeControl.articleList)
                    .article-also_row
                        .article-also_tx Смотреть все 
                            a(href='#') комментарии
                            .visible-md-inline-block
                                | ,
                                a(href='#')  нравится, 
                            .visible-md-inline-block
                                a(href='#')  закладки 
                            | .

    // /b-article


- var bArticleListItem = {}

- bArticleListItem.a = {}
- bArticleListItem.a.type = 'text'

- bArticleListItem.b = {}
- bArticleListItem.b.type = 'video'

- bArticleListItem.b = {}
- bArticleListItem.b.type = 'video'

- bArticleListItem.del = {}
- bArticleListItem.del.type = 'text'
- bArticleListItem.del.delete = true



mixin bArticleListPhotopost(mod, vars)
    // Статья с текстом
    // b-article
    article.b-article.b-article__list.clearfix(class=mod)
        .b-article_cont.clearfix
            .b-article_header.clearfix
                .float-l
                    +ava("ava__female ava__small-xxs ava__middle-xs ava__middle-sm-mid ", ava.a)
                    a.b-article_author(href='#') Ангелина Богоявленская
                    time.tx-date(pubdate='1957-10-04') Сегодня 13:25
                .icons-meta
                    a.icons-meta_comment(href='#')
                        span.icons-meta_tx 35
                    .icons-meta_view
                        span.icons-meta_tx 305
            .b-article_t-list
                a.b-article_t-a(href='#') Самое лучшее утро - просыпаюсь, а ты рядом
            .b-article_in.clearfix
                .wysiwyg-content.clearfix
                    if(vars.content == 'empty')
                        +bAlbumCap('b-album__load', bAlbumCap.base)
                    if(!vars.content)
                        +bAlbumPhotopost('', bAlbumPhotopost.a)

            //-.b-article_in.clearfix
                .wysiwyg-content.clearfix
                    // Описание определенное количество символов
                    p Дадим ему остыть. Желе торта разводим согласно инструкции. Поломаем не небольшие кусочки крекер. Апельсин почистим и разберем на дольки. а не только лишь  
                        span.ico-more

            if (vars.type == 'text')
                +commentsList('', commentsList.b)


            .b-article_like.clearfix
                +articleSettings('', articleSettings.base)
                .article-also
                    .article-also_row
                        +likeControl('like-control__small', likeControl.articleList)
                    .article-also_row
                        .article-also_tx Смотреть все 
                            a(href='#') комментарии
                            .visible-md-inline-block
                                | ,
                                a(href='#')  нравится, 
                            .visible-md-inline-block
                                a(href='#')  закладки 
                            | .

    // /b-article

- var bArticleListPhotopost = {}
- bArticleListPhotopost.base = {}

- bArticleListPhotopost.baseEmpty = {}
- bArticleListPhotopost.baseEmpty.content = 'empty'


mixin bArticleStatus(mod, vars)
    // Статья статус
    if (vars.status !== 'open')
        - mod = mod + ' b-article__list'
    // b-article
    article.b-article.b-article__user-status.clearfix(class=mod)
        .b-article_cont.clearfix
            .b-article_header.clearfix
                .float-l
                    +ava("ava__female ava__small-xxs ava__middle-xs ava__middle-sm-mid ", ava.a)
                    a.b-article_author(href='#') Ангелина Богоявленская
                    time.tx-date(pubdate='2014-10-04') минуту назад
                .icons-meta
                    a.icons-meta_comment(href='#')
                        span.icons-meta_tx 35
                    .icons-meta_view
                        span.icons-meta_tx 305

            .b-article_in.clearfix
                .user-status.user-status__base
                    .user-status_hold
                        if (vars.status == 'open')
                            // в списке статей user-status_tx ссылка
                            .user-status_tx Говори себе с утра: Счастье, нам вставать пора!!! Так со Счастьем и вставай, от себя не отпускай!!!
                        else 
                            // в списке статей user-status_tx ссылка
                            a.user-status_tx(href='#') Говори себе с утра: Счастье, нам вставать пора!!! Так со Счастьем и вставай, от себя не отпускай!!!
                    .user-status_bottom
                        .b-user-mood
                            .b-user-mood_hold
                                .b-user-mood_tx Мое настроение -
                            .b-user-mood_img
                                img(src='/images/widget/mood/6.png')



            if (vars.status == 'list')
                .article-also
                    .article-also_row
                        +likeControl('like-control__small', likeControl.articleList)
                    .article-also_row
                        .article-also_tx Смотреть все 
                            a(href='#') комментарии
                            .visible-md-inline-block
                                | ,
                                a(href='#')  нравится, 
                            .visible-md-inline-block
                                a(href='#')  закладки 
                            | .
                            
            if (vars.status == 'open')
                +likeControl('like-control__line', likeControl.base)
                +customLikes('', customLikes.base)
                    
                +adv-yandex()

    // /b-article
- var bArticleStatus = {}

- bArticleStatus.open = {}
- bArticleStatus.open.status = 'open'

- bArticleStatus.list = {}
- bArticleStatus.list.status = 'list'


mixin bArticleCook(mod, vars)
    // Статья с текстом
    // b-article
    article.b-article.hrecipe.clearfix(class=mod)
        .b-article_cont.clearfix
            .b-article_header.clearfix
                .float-l
                    +ava("ava__female ava__small-xxs ava__middle-xs ava__middle-sm-mid ", ava.a)
                    a.b-article_author(href='#') Ангелина Богоявленская
                    time.tx-date(pubdate='1957-10-04') Сегодня 13:25
                .icons-meta
                    a.icons-meta_comment(href='#')
                        span.icons-meta_tx 35
                    .icons-meta_view
                        span.icons-meta_tx 305
            .b-article_t-list
                a.b-article_t-a(href='#') Самое лучшее утро - просыпаюсь, а ты рядом


            .b-article_in.clearfix
                .wysiwyg-content.clearfix
                        //.wysiwyg-content.clearfix
                        p
                            | У меня есть уже один рецепт "Зебры".А этим рецептом поделилась со мной моя читательница...Я обещала попробовать сделать, и вот... я сделала! Эта "Зебра" у меня  получилась  воздушнее, мягче, рассыпчатей... По вкусу напомнила кекс... Остается мягкой и вкусной даже на следующий день!
                        .b-article_in-img
                            img.content-img(alt='Ночные гости - кто они фото 1', src='http://lorempixel.com/600/400/food/1', title='Ночные гости - кто они фото 1')
                        // 
                        .recipe-desc.clearfix
                            .location.clearfix
                                span.flag-big.flag-big-ua
                                span.location_tx Украинская кухня
                            .recipe-desc_holder
                                .recipe-desc_i
                                    .recipe-desc_ico.recipe-desc_ico__time-1.powertip(title='Время подготовки')
                                    | 02 : 00
                                .recipe-desc_i
                                    .recipe-desc_ico.recipe-desc_ico__time-2.powertip(title='Время приготовления')
                                    | 02 : 00
                            .recipe-desc_i
                                .recipe-desc_ico.recipe-desc_ico__yield.powertip(title='Количество порций')
                                | на
                                span.yeild 6 персон
                        .clearfix
                            .nutrition.float-r
                                // Клик на ссылку меняет отображение nutrition_hold display:none; display:block;
                                a.nutrition_t.a-pseudo(href='#') Калорийность блюда - 588 ккал
                                .nutrition_hold.display-b
                                    .nutrition_portion
                                        a.nutrition_portion-a.active(href='#') На 100 г
                                        a.nutrition_portion-a.disabled(href='#') На порцию
                                    ul.nutrition_ul
                                        li.nutrition_li
                                            .nutrition_icon.nutrition_icon__calories
                                                i К
                                            .nutrition_tx
                                                | Калории - 
                                                span.calories 11589,2
                                                span.nutrition_measure ккал.
                                        li.nutrition_li
                                            .nutrition_icon.nutrition_icon__protein
                                                i Б
                                            .nutrition_tx
                                                | Белки - 
                                                span.protein 18
                                                span.nutrition_measure г.
                                        li.nutrition_li
                                            .nutrition_icon.nutrition_icon__fat
                                                i Ж
                                            .nutrition_tx
                                                | Жиры - 
                                                span.fat 10
                                                span.nutrition_measure г.
                                        li.nutrition_li
                                            .nutrition_icon.nutrition_icon__carbohydrates
                                                i У
                                            .nutrition_tx
                                                | Углеводы - 
                                                span.carbohydrates 70
                                                span.nutrition_measure г.
                            h2.wysiwyg-content_t-sub Ингредиенты
                            ul.ingredients
                                li.ingredient
                                    span.name Скумбрия 
                                    | - 
                                    span.amount
                                        | 1 штука
                                li.ingredient
                                    span.name Лимон 
                                    | - 
                                    span.amount
                                        | 1 штука 
                                li.ingredient
                                    span.name Лук репчатый 
                                    | - 
                                    span.amount
                                        | 1 штука 
                                li.ingredient
                                    span.name Прованские травы 
                                    | - 
                                    span.amount
                                        | 25 граммов 
                        h2.wysiwyg-content_t-sub Приготовление
                        p
                            | Недавно посмотрел фильм "Убить Дракона" снятый в 1988 году с Абдуловым в главной роли. По мотивам пьесы Евгения Шварца «Дракон».
                        ol
                            li
                                | Практически нет девушки, которая не переживала бы за отношения героев "Сумерек" как в на экранах, так и в жизни. Но, к сожалению, даже несмотря на то, что недавно герои "Сумерек" радовали всех тем, что у них невероятный роман  и в рельной жизни, а не только лишь на экране, все же 
                                a(href='#') Роберт Паттинсон 
                                | и Кристен Стюарт расстались и пока реши
                            li
                                p
                                    | Но, к сожалению, даже несмотря на то, что недавно герои "Сумерек" радовали всех тем,
                                .b-article_in-img
                                    img.content-img(title='Ночные гости - кто они фото 1', src='http://lorempixel.com/600/300/food/3', alt='Ночные гости - кто они фото 1')
                                p
                                    | что у них невероятный роман  и в рельной жизни, а не только лишь на экране, все же 
                                    | и Кристен Стюарт расстались и пока реши
                            li
                                a(href='#') Роберт Паттинсон 
                                | и Кристен Стюарт расстались и пока реши
                            li
                                | Практически нет девушки, которая не переживала бы за отношения героев "Сумерек" как в на экранах, так и в жизни. Но, к сожалению, даже несмотря на то, что недавно герои "Сумерек" радовали всех тем, что у них невероятный роман  и в рельной жизни, а не только лишь на экране, все же 
                                a(href='#') Роберт Паттинсон 
                                | и Кристен Стюарт расстались и пока реши
                        p
                            | Практически нет девушки, которая не переживала бы за отношения героев "Сумерек" как в на экранах, так и в жизни. Но, к сожалению, даже несмотря на то, что недавно герои "Сумерек" радовали всех тем, что у них невероятный роман  и в рельной жизни, а не только лишь на экране, все же
                            | и Кристен Стюарт расстались и пока решили взять паузу в своих отношениях.
                        h2 H2 Где можно поменять название трека
                        p
                            | Недавно посмотрел фильм "Убить Дракона" снятый в 1988 году с Абдуловым в главной роли. По мотивам пьесы Евгения Шварца «Дракон».
                        .b-article_in-img
                            img.content-img(title='Ночные гости - кто они фото 1', src='http://lorempixel.com/600/300/food/2', alt='Ночные гости - кто они фото 1')
                        ul
                            li
                                | я не нашел, где можно поменять название трека. Меняя название трека в альбоме он автоматически производит поиск по сайту и подцепляет естественно студийные версии песен вместо нужных.  я не нашел, где можно поменять название трека. Меняя название трека в альбоме он автоматически
                            li я не нашел, где можно поменять название трека.
                            li
                                | Меняя название трека в
                                strong Меняя название трека
                                | альбоме он автоматически производит поиск 
                                a(href='#') Меняя название трека  
                                | по сайту и подцепляет естественно студийные версии песен вместо нужных.  я не нашел, где можно поменять название трека.
                                b Меняя название трека
                                | в альбоме он автоматически
                        p
                            | и подцепляет естественно студийные версии песен вместо нужных. и подцепляет естественно студийные версии песен вместо нужных.  я не нашел, где можно поменять название трека. Меняя название трека в альбоме он автоматически  и подцепляет естественно студийные версии песен вместо нужных.  я не нашел, где можно поменять название трека. Меняя название трека в альбоме он автоматически
                        .clearfix
                            .cook-diabets
                                //
                                    Диаграмма для диабетиков имеет 4 состояния на сколько не подходит 
                                    val0 (по умолчанию даже без класса) 
                                    val33
                                    val66
                                    val100
                                                                                                                
                                .cook-diabets-chart.val33
                                    span.text 20.5
                                .cook-diabets-desc Подходит для диабетиков
                            .cook-article-tags
                                .cook-article-tags-title Теги
                                ul.cook-article-tags-list
                                    li
                                        a(href='#') Рыбные блюда
                                    li
                                        a(href='#') Рыбные блюда
                                    li
                                        a(href='#') Рыбные 
                                    li
                                        a(href='#') Рыбные 234234 блюда
                                    li
                                        a(href='#') Рыбные блюда
                                    li
                                        a(href='#') Рыбные блюда
                                    li
                                        a(href='#') Рыбны

            .article-also
                .article-also_row
                    +likeControl('like-control__small', likeControl.articleList)
                .article-also_row
                    .article-also_tx Смотреть все 
                        a(href='#') комментарии
                        .visible-md-inline-block
                            | ,
                            a(href='#')  нравится, 
                        .visible-md-inline-block
                            a(href='#')  закладки 
                        | .


    // /b-article

- var bArticleCook = {}
- bArticleCook.base = {}



mixin article-markdown(mod, vars)
    // Статья с текстом
    // b-article
    article.b-article.b-article__single.clearfix(class=mod)
        .b-article_cont.clearfix
            .b-article_cont-tale
            .b-article_header.clearfix
                .icons-meta
                    a.icons-meta_comment(href='#')
                        span.icons-meta_tx 35
                    .icons-meta_view
                        span.icons-meta_tx 305
                .float-l
                    +ava("ava__female ava__middle-sm-mid", ava.a)
                    a.b-article_author(href='#') Ангелина Богоявленская
                    time.tx-date(pubdate='1957-10-04') Сегодня 13:25
            h1.b-article_t Самое лучшее утро - просыпаюсь, а ты рядом
            .b-article_in.clearfix
                // .b-markdown - статья редактора
                .clearfix
                    .b-markdown
                            //if (vars.type == 'video')
                            .b-markdown_t-sub
                                | В половине чашке горячей воды разведем желатин. Дадим ему остыть. Желе для торта разводим согласно инструкции.
                            .b-article_in-img
                                .video-container
                                    iframe(width='600', height='330', src='http://www.youtube.com/embed/IS9xI7Arrsk?wmode=transparent&feature=oembed&wmode=transparent', frameborder='0', allowfullscreen='')
                            p В половине чашке горячей воды разведем желатин. Дадим ему остыть. Желе для торта разводим согласно инструкции. Поломаем не небольшие кусочки крекер. Апельсин почистим и разберем на дольки. а не только лишь на экране, все же Роберт Паттинсон и Кристен Стюарт расстались и пока решили взять паузу в своих отношениях.
                            h2 Загловок H2
                            p В половине чашке горячей воды разведем желатин. Дадим ему остыть. Желе для торта разводим согласно инструкции. Поломаем не небольшие кусочки крекер. sdfsdfsdf
                            h3 Загловок H3
                            p В половине чашке горячей воды разведем желатин. Дадим ему остыть. Желе для торта разводим согласно инструкции. Поломаем не небольшие кусочки крекер. 

                            
                            //if (vars.type == 'photos')
                            //.b-markdown_t-sub
                                | В половине чашке горячей воды разведем желатин. Дадим ему остыть. Желе для торта разводим согласно инструкции. 
                            .b-article_in-img
                                img(alt='', src='#{path}images/example/w600-h415.jpg')
                                a.b-markdown_img-water(href='#') squarespace
                            p Солончак Уюни — высохшее соленое озеро. Во время сезона дождей солончак покрывается тонким слоем воды и превращается в самую большую в мире зеркальную поверхность. Представьте, что вы будете испытывать, гуляя по этому озеру под ночным звездным небом. 
                            h4 Загловок H4
                            .b-article_in-img
                                img(alt='', src='#{path}images/example/w600-h730-1.jpg')
                                a.b-markdown_img-water(href='#') nikon.ru
                            .b-markdown_description Поломаем не небольшие кусочки крекер. Апельсин почистим и разберем на дольки. а не только лишь на экране,
                            p В Финляндии можно остановиться в настоящем иглу. Только сделано оно из стекла. Но, несмотря на кажущуюся хрупкость строений, внутри иглу тепло и комфортно даже в лютые морозы. А если повезет, вы сможете увидеть настоящее северное сияние, пока наслаждаетесь отдыхом в мягкой кровати. 
                            h5 Загловок H5
                            p В половине чашке горячей воды разведем желатин. Дадим ему остыть. Желе для торта разводим согласно инструкции. Поломаем не небольшие кусочки крекер. Апельсин почистим и разберем на дольки. а не только лишь на экране, все же Роберт Паттинсон и Кристен Стюарт расстались и пока решили взять паузу в своих отношениях.
                            h6 Загловок H6
                            p В половине чашке горячей воды разведем желатин. Дадим ему остыть. Желе для торта разводим согласно инструкции. Поломаем не небольшие кусочки крекер. Апельсин почистим и разберем на дольки. а не только лишь на экране, все же Роберт Паттинсон и Кристен Стюарт расстались и пока решили взять паузу в своих отношениях.
                            p В половине чашке горячей воды разведем желатин. Дадим ему остыть. Желе для торта разводим согласно инструкции. Поломаем не небольшие кусочки крекер. Апельсин почистим и разберем на дольки. а не только лишь на экране, все же Роберт Паттинсон и Кристен Стюарт расстались и пока решили взять паузу в своих отношениях.
                            ol
                                li Нумерованный списко 1
                                li Нумерованный списко 2
                                li Нумерованный списко 3
                                li Нумерованный списко 4
                            p В половине чашке горячей воды разведем желатин. Дадим ему остыть. Желе для торта разводим согласно инструкции. Поломаем не небольшие кусочки крекер. Апельсин почистим и разберем на дольки. а не только лишь на экране, все же Роберт Паттинсон и Кристен Стюарт расстались и пока решили взять паузу в своих отношениях.
                            p В половине чашке горячей воды разведем желатин. Дадим ему остыть. Желе для торта разводим согласно инструкции. Поломаем не небольшие кусочки крекер. Апельсин почистим и разберем на дольки. а не только лишь на экране, все же Роберт Паттинсон и Кристен Стюарт расстались и пока решили взять паузу в своих отношениях.
                            p В половине чашке горячей воды разведем желатин. Дадим ему остыть. Желе для торта разводим согласно инструкции. Поломаем не небольшие кусочки крекер. Апельсин почистим и разберем на дольки. а не только лишь на экране, все же Роберт Паттинсон и Кристен Стюарт расстались и пока решили взять паузу в своих отношениях.
                            ul
                                li Маркерованный списко 1
                                li Маркерованный списко 2
                                li Маркерованный списко 3
                                li Маркерованный списко 4
                            p В половине чашке горячей воды разведем желатин. Дадим ему остыть. Желе для торта разводим согласно инструкции. Поломаем не небольшие кусочки крекер. Апельсин почистим и разберем на дольки. а не только лишь на экране, все же Роберт Паттинсон и Кристен Стюарт расстались и пока решили взять паузу в своих отношениях.
                            .b-markdown_description Поломаем не небольшие кусочки крекер. Апельсин почистим и разберем на дольки. а не только лишь на экране,


                        if (vars.type == 'day')
                            //-.b-markdown_t-sub
                                | В половине чашке горячей воды разведем желатин. Дадим ему остыть. Желе для торта разводим согласно инструкции. 
                            .markdown-day.markdown-day__1
                                .markdown-day_t Утро
                                p Всем привет. Меня зовут Оксана и мне 25. Я работаю стюардессой, хотя мне больше нравится говорить бортпроводником, в одной небольшой развивающейся авиакомпании. Постоянные составляющие моей жизни, вне зависимости от приоритетов: чемодан, самолет, движение, люди, гостиница, погода, путешествия. 
                                h3.markdown-day_img-hold
                                    img(alt='', src='#{path}images/example/w600-h415.jpg')
                                p Солончак Уюни — высохшее соленое озеро. Во время сезона дождей солончак покрывается тонким слоем воды и превращается в самую большую в мире зеркальную поверхность. Представьте, что вы будете испытывать, гуляя по этому озеру под ночным звездным небом. 
                            .markdown-day.markdown-day__2
                                .markdown-day_t День
                                p Солончак Уюни — высохшее соленое озеро. Во время сезона дождей солончак покрывается тонким слоем воды и превращается в самую большую в мире зеркальную поверхность. Представьте, что вы будете испытывать, гуляя по этому озеру под ночным звездным небом. 
                                .markdown-day_img-hold
                                    img(alt='', src='#{path}images/example/w600-h415.jpg')
                                p Всем привет. Меня зовут Оксана и мне 25. Я работаю стюардессой, хотя мне больше нравится говорить бортпроводником, в одной небольшой развивающейся авиакомпании. Постоянные составляющие моей жизни, вне зависимости от приоритетов: чемодан, самолет, движение, люди, гостиница, погода, путешествия. 

                            .markdown-day.markdown-day__3
                                .markdown-day_t Вечер
                                p Солончак Уюни — высохшее соленое озеро.
                                .markdown-day_img-hold
                                    img(alt='', src='#{path}images/example/w600-h415.jpg')
                                p Всем привет. Меня зовут Оксана и мне 25.

                            .b-markdown_description Поломаем не небольшие кусочки крекер. Апельсин почистим и разберем на дольки. а не только лишь на экране,
                            p В половине чашке горячей воды разведем желатин. Дадим ему остыть. Желе для торта разводим согласно инструкции. Поломаем не небольшие кусочки крекер. Апельсин почистим и разберем на дольки. а не только лишь на экране, все же Роберт Паттинсон и Кристен Стюарт расстались и пока решили взять паузу в своих отношениях.
                            



                        if (vars.type == 'compare')
                            //-.b-markdown_t-sub
                                | В половине чашке горячей воды разведем желатин. Дадим ему остыть. Желе для торта разводим согласно инструкции.
                            .markdown-compare.markdown-compare__l
                                h3 YUJIN Robot iClebo Arte YCR-M05-20 Silver
                                p A не только лишь на экране, все же Роберт Паттинсон и Кристен Стюарт расстались и пока решили взять паузу в своих отношениях.
                                .markdown-compare_img-hold
                                    // Можно оставить превью изображения как в статье. Будет ужиматься.
                                    img(alt='', src='#{path}images/example/w600-h415.jpg')
                                p Дадим ему остыть. Желе торта разводим согласно инструкции. Поломаем не небольшие кусочки крекер. Апельсин почистим и разберем на дольки. а не только лишь на экране, все же Роберт Паттинсон и Кристен Стюарт расстались и пока решили взять паузу в своих отношениях.
                            .markdown-compare.markdown-compare__r
                                h3 NEATO Botvac 85
                                p NEATO Botvac 85, самый мощный пылесос из серии Botvac. Устройство составляет карту комнаты исходя из показаний лазерного сканера, управляется посредством самого настоящего ЦП и ОС. То есть действительно робот. Устройство необычной формы, он не полностью круглый как конкуренты. Производитель утверждает, что так пылесос лучше очищает углы. Neato практически не запутывается и не попадает в «ловушки». Некоторые пылесосы забираются в ниши, из которых не могут выбраться, а вот Botvac 85 в сложных ситуациях старается поднять корпус над полом, чтобы уменьшить свою площадь, либо преодолеть препятствие. Основная комбинированная щетка 
                                .markdown-compare_img-hold
                                    // Можно оставить превью изображения как в статье. Будет ужиматься.
                                    img(alt='', src='#{path}images/example/w600-h415.jpg')
                                p Дадим ему остыть. Желе торта разводим согласно инструкции. Поломаем не небольшие кусочки крекер. Апельсин почистим и разберем на дольки. а не только лишь на экране, все же Роберт Паттинсон и Кристен Стюарт расстались и пока решили взять паузу в своих отношениях.
                            // 
                            .markdown-compare.markdown-compare__l
                                p A не только лишь на экране, все же Роберт Паттинсон и Кристен Стюарт расстались и пока решили взять паузу в своих отношениях.
                                .markdown-compare_img-hold
                                    // Можно оставить превью изображения как в статье. Будет ужиматься.
                                    img(alt='', src='#{path}images/example/w600-h415.jpg')
                                p Дадим ему остыть. Желе торта разводим согласно инструкции. Поломаем не небольшие кусочки крекер. Апельсин почистим и разберем на дольки. а не только лишь на экране, все же Роберт Паттинсон и Кристен Стюарт расстались и пока решили взять паузу в своих отношениях.
                            .markdown-compare.markdown-compare__r
                                h3 NEATO Botvac 85
                                p NEATO Botvac 85, самый мощный пылесос из серии Botvac. Устройство составляет карту комнаты исходя из показаний лазерного сканера, управляется посредством самого настоящего ЦП и ОС. То есть действительно робот. Устройство необычной формы, он не полностью круглый как конкуренты. Производитель утверждает, что так пылесос лучше очищает углы.
                                p Дадим ему остыть. Желе торта разводим согласно инструкции. Поломаем не небольшие кусочки крекер. Апельсин почистим и разберем на дольки. а не только лишь на экране, все же Роберт Паттинсон и Кристен Стюарт расстались и пока решили взять паузу в своих отношениях.
                            p 
                                b Вывод:  
                                | В половине чашке горячей воды разведем желатин. Дадим ему остыть. Желе для торта разводим согласно инструкции. Поломаем не небольшие кусочки крекер. Апельсин почистим и разберем на дольки. а не только лишь на экране, все же Роберт Паттинсон и Кристен Стюарт расстались и пока решили взять паузу в своих отношениях.


                        if (vars.type == 'collection')
                            //-.b-markdown_t-sub
                                | В половине чашке горячей воды разведем желатин. Дадим ему остыть. Желе для торта разводим согласно инструкции.
                            .b-article_in-img.b-markdown_img-hold
                                img(alt='', src='#{path}images/example/w600-h730-1.jpg')
                                a.b-markdown_img-water(href='#') nikon.ru
                            .b-markdown_li-tx 1
                            p В половине чашке горячей воды разведем желатин. Дадим ему остыть. Желе для торта разводим согласно инструкции. Поломаем не небольшие кусочки крекер. Апельсин почистим и разберем на дольки. а не только лишь на экране, все же Роберт Паттинсон и Кристен Стюарт расстались и пока решили взять паузу в своих отношениях.

                            .b-article_in-img.b-markdown_img-hold
                                img(alt='', src='#{path}images/example/w600-h415.jpg')
                                a.b-markdown_img-water(href='#') nikon.ru
                            .b-markdown_description Поломаем не небольшие кусочки крекер. Апельсин почистим и разберем на дольки. а не только лишь на экране,

                            .b-markdown_li-tx 2
                            p В половине чашке горячей воды разведем желатин. Дадим ему остыть. Желе для торта разводим согласно инструкции. Поломаем не небольшие кусочки крекер. все же Роберт Паттинсон и Кристен Стюарт расстались и пока решили взять паузу в своих отношениях.

                            .b-article_in-img.b-markdown_img-hold
                                img(alt='', src='#{path}images/example/w600-h730-1.jpg')
                                a.b-markdown_img-water(href='#') nikon.ru
                            .b-markdown_li-tx 3
                            p В половине чашке горячей воды разведем желатин. Дадим ему остыть. Желе для торта разводим согласно инструкции. Поломаем не небольшие кусочки крекер. 
                            p Дадим ему остыть. Желе торта разводим согласно инструкции. Поломаем не небольшие кусочки крекер. Апельсин почистим и разберем на дольки. а не только лишь на экране, все же Роберт Паттинсон и Кристен Стюарт расстались и пока решили взять паузу в своих отношениях.

                        .b-markdown_source
                            .b-markdown_source-tx
                                | Источники:  
                            a.b-markdown_source-a(href='#') themuse   
                            a.b-markdown_source-a(href='#') flickr  
                            a.b-markdown_source-a(href='#') adme

                +likeControl('like-control__line', likeControl.base)
                +customLikes('', customLikes.base)
                
                +adv-yandex()

    // /b-article


- var articleMarkdown = {}
- articleMarkdown.a = {}
- articleMarkdown.a.type = 'video'

- articleMarkdown.b = {}
- articleMarkdown.b.type = 'photos'

- articleMarkdown.c = {}
- articleMarkdown.c.type = 'compare'

- articleMarkdown.d = {}
- articleMarkdown.d.type = 'day'

- articleMarkdown.e = {}
- articleMarkdown.e.type = 'collection'    

