//- b-album
    mod     
    vars 
mixin bAlbum(mod, vars)
    // b-album
    section.b-album(class=mod)
        - if (vars.top)
            .b-album_top
                .tx-date Обновлен  Вчера 13:45
                h2.b-album_title
                    a.b-album_title-a.heading-link-xl(href='#')  Ялта ♥♥♥
                // 2 строки описания, предположительно 140 символов
                a.b-album_desc(href="#") В половине чашке горячей воды разведем желатин. Дадим ему остыть. Желе для торта разводим согласно инструкции. Поломаем не небольшие 
                .b-album_count-hold
                    .b-album_count 240
                    .b-album_count-tx фото
        .b-album_img-hold(href="#")
            .b-album_img-a
                .verticalalign-m-help
                .verticalalign-m-el
                    // У изображений стороны сторон сохраняются максимальные размеры изображения
                    // телефоны до 480
                    // height 300
                    // width 480
                    // устройства от w480
                    // height 380
                    // width 768
                    // устройства от w768
                    // height 500
                    // width 960
                    // десктоп и большие планшеты от w1000
                    // Высота изображений 580
                    // Ширина изображения 880
                    // Если изображения маленькие, они становятся по центру
                    img.b-album_img-big(srcset="#{vars.img}", alt="")
            .b-album_img-hold-ovr
                .ico-zoom.ico-zoom__abs
            - if (vars.arrow)
                // Стрелки показывать скрывать по тапу (касанию пальца)
                a.b-album_arrow.b-album_arrow__l(href="#")
                a.b-album_arrow.b-album_arrow__r(href="#")
        .b-album_overlay
            a.b-album_r
                - if (vars.tx)
                    .b-album_tx
                        != vars.tx
                        
                .b-album_ico-album(class=vars.icoAlbumMod)
                .b-album_arrow-all
            ul.b-album_prev.clearfix.visible-md-block
                // Нужно уточнить какую ширину должен занимать ряд изображений или какое их количество будет. Предполагаю, что 5шт в ряду.
                li.b-album_prev-li
                    a.b-album_prev-a(href="#")
                        //- высота изображений 50-70 px
                        img.b-album_prev-img(src="#{path}images/example/w104-h70-1.jpg", alt="")
                        .b-album_prev-hold
                li.b-album_prev-li
                    a.b-album_prev-a(href="#")
                        img.b-album_prev-img(src="#{path}images/example/w46-h70-1.jpg", alt="")
                        .b-album_prev-hold
                li.b-album_prev-li
                    a.b-album_prev-a(href="#")
                        img.b-album_prev-img(src="#{path}images/example/w104-h70-2.jpg", alt="")
                        .b-album_prev-hold
                li.b-album_prev-li
                    a.b-album_prev-a(href="#")
                        img.b-album_prev-img(src="#{path}images/example/w104-h70-1.jpg", alt="")
                        .b-album_prev-hold
                li.b-album_prev-li
                    a.b-album_prev-a(href="#")
                        img.b-album_prev-img(src="#{path}images/example/w104-h70-2.jpg", alt="")
                        .b-album_prev-hold
                - if (vars.prevAdd)
                    li.b-album_prev-li
                        a.album-photo-add(href="#")
                    
// /b-album

- var bAlbum = {}

- bAlbum.a = {}
- bAlbum.a.top = false
- bAlbum.a.img = 'w430-h580.jpg'
- bAlbum.a.tx = 'Семейный альбом <br> <span>60 </span> фото'
- bAlbum.a.icoAlbumMod = 'b-album_ico-album__family'
- bAlbum.a.prevAdd = false

- bAlbum.b = {}
- bAlbum.b.top = true
- bAlbum.b.img = 'w880-h580-1.jpg'
- bAlbum.b.tx = 'Смотреть  <br> все фото &nbsp;'
- bAlbum.b.prevAdd = true

- bAlbum.c = {}
- bAlbum.c.top = true
- bAlbum.c.img = 'w305-h360-1.jpg'
- bAlbum.c.tx = 'Смотреть  <br> все фото &nbsp;'
- bAlbum.c.prevAdd = true

//- Альбом вид гостя
- bAlbum.d = {}
- bAlbum.d.top = true
- bAlbum.d.img = path+'images/services/cook-choose/product-1-w460.jpg 100w,'+path+'images/services/cook-choose/product-1.jpg 480w'
- bAlbum.d.tx = 'Смотреть  <br> все фото &nbsp;'
- bAlbum.d.prevAdd = false

- bAlbum.e = {}
- bAlbum.e.top = true
- bAlbum.e.img = path+'images/services/cook-choose/product-1-w460.jpg 100w,'+path+'images/example/w265-h400.jpg 480w, '+path+'images/example/w880-h580-1.jpg 768w,'+path+'images/example/w880-h585-1.jpg 1000w'
- bAlbum.e.tx = 'Смотреть  <br> все фото &nbsp;'
- bAlbum.e.prevAdd = false

- bAlbum.photolink = {}
- bAlbum.photolink.top = false
- bAlbum.photolink.img = path+'images/services/cook-choose/product-1-w460.jpg 100w,'+path+'images/example/w960-h630.jpg 480w, '+path+'images/example/w750-h490.jpg 768w,'+path+'images/example/w880-h585-1.jpg 1000w'
- bAlbum.photolink.tx = 'Смотреть  <br> все фото &nbsp;'
- bAlbum.photolink.prevAdd = false
- bAlbum.photolink.arrow = true


