//- Баннер перед подвалом на всю ширину 

mixin banReadMore(mod, vars)
    // баннер на всю ширину
    // Изабражение вставляется через background для поизиционирования через css
    style(type='text/css').
        /* Ширина изображения 600px */
        .ban-read-more {
            background-image: url('#{path}images/example/w600-h355-1.jpg');
        }
        /* Ширина изображения до 1000px*/
        @media (min-width: 640px) {
            .ban-read-more {
                background-image: url('#{path}images/example/w1000-h580-2.jpg');
            }
        }
    a.ban-read-more(href='#', class=mod)
        .ban-read-more_hold
            .ban-read-more_cont
                .ban-read-more_t-sub Рекомендуем для чтения
                .ban-read-more_author.clearfix
                    // Аватарки размером 40*40
                    +ava("ava__middle ava__small-sm-mid hidden-xxs", avaVars)
                    .a-light Ангелина Богоявленская
                .ban-read-more_t 20 самых опасных маршрутов в мире
                .ban-read-more_desc Вот, девочки, напала на вот такую красоту в интернете. И вдруг вспомнила, что муж у меня уже много много лет мечтает ...
                .ban-read-more_arrow
    // /баннер



mixin adv-yandex(mod, vars)
    // Реклама яндекса
    .adv-yandex(class=mod)
        a(href='#', target="_blank")
            img(src="#{path}images/example/yandex-w600.jpg", alt="")
