
//- comments
//- Открытые комментарии в статьях
//- mod 
    vars
        
mixin commentsOpen (mod, vars)
    // comments
    section.comments.comments__buble
        //- .comments_t Комментарии 68
        .comments-menu
            ul.comments-menu_ul(data-tabs="tabs")
                li.comments-menu_li.active
                    a.comments-menu_a.comments-menu_a__comments(href="#commentsList", data-toggle="tab") Комментарии 68 
                li.comments-menu_li
                    a.comments-menu_a.comments-menu_a__likes(href="#likesList", data-toggle="tab") Нравится 865
                li.comments-menu_li
                    a.comments-menu_a.comments-menu_a__favorites(href="#favoritesList", data-toggle="tab") Закладки 865
        .tab-content
            #commentsList.comments_hold.tab-pane.active
                - if (vars.user == false)
                    +commentAdd('', commentAdd.guest)
                - else 
                    +commentAdd('', commentAdd.user)
                ul.comments_ul
                    // 
                        варианты цветов комментов. В такой последовательности
                        .comments_li__lilac
                        .comments_li__yellow
                        .comments_li__red
                        .comments_li__blue
                        .comments_li__green
                    li.comments_li.comments_li__lilac
                        .comments_i.clearfix
                            .comments_ava
                                // Аватарки размером 40*40
                                +ava("ava__middle ava__small-sm-mid", ava.b)
                            .comments_frame
                                .comments_header
                                    a.a-light.comments_author(href="", rel='author')  Иванна Хлебникова
                                    time.tx-date(datetime='2012-12-23') 2 минуты назад
                                .comments_cont
                                    .wysiwyg-content
                                        p 
                                            |  Ну не все. Я видео скидыавала Лере Догузовой про матрешек вот это более правдивое представление.  Неотесанное быдло которое не умеет себя вести и это не Россия а и Украина тоже! 
                                        // одно фото в блок (ссылку)
                                        a.comments_cont-img-w(href='')
                                            // размеры превью максимум 400*400 пк
                                            img(alt='', src='/images/example/w220-h309-1.jpg')
                                        p Меняя название трека в альбоме он автоматически производит поиск по сайту и подцепляет естественно студийные версии песен вместо нужных.

                                - if (vars.user)
                                    .comments_footer
                                        +bControl("", bControl.e)
                        ul.comments_ul
                            // комментарий вложенный
                            li.comments_li.comments_li__lilac
                                .comments_i.clearfix
                                    .comments_ava
                                        // Аватарки размером 40*40
                                        +ava("ava__middle ava__small-sm-mid", ava.b)
                                    .comments_frame
                                        .comments_header
                                            a.a-light.comments_author(href="", rel='author')  Иванна Хлебникова
                                            time.tx-date(datetime='2012-12-23') 2 минуты назад
                                        .comments_cont
                                            .wysiwyg-content
                                                p 
                                                    a.comments_ansver-for(href="") Ольга Максимова &nbsp; 
                                                    | Меняя название трека в альбоме он автоматически производит поиск по сайту и подцепляет естественно студийные версии песен вместо нужных.

                                        - if (vars.user)
                                            .comments_footer
                                                +bControl("", bControl.d)
                            // /комментарий вложенный

                            // комментарий вложенный
                            // Свой комментарий
                            li.comments_li.comments_li__self.comments_li__lilac
                                .comments_i.clearfix
                                    .comments_ava
                                        // Аватарки размером 40*40
                                        +ava("ava__middle ava__small-sm-mid", ava.a)
                                    .comments_frame
                                        header.comments_header
                                            a.a-light.comments_author(href="", rel='author') Ангелина Богоявленская
                                            time.tx-date(datetime='2012-12-23') 23 декабря
                                        .comments_cont
                                            .wysiwyg-content
                                                p
                                                    // Если аккаунт удален, меняем а на span что б не было 404 ошибок.
                                                    span.comments_ansver-for Ольга Максимова &nbsp; 
                                                    | Свой комментарий. Меняя название трека в альбоме он автоматически производит поиск по сайту и подцепляет естественно студийные версии песен вместо нужных.

                                        - if (vars.user)
                                            .comments_footer
                                                +bControl("", bControl.e)
                            // /комментарий вложенный
                    // / комментарий  

                    // комментарий     
                    li.comments_li.comments_li__red
                        .comments_i.clearfix
                            .comments_ava
                                // Аватарки размером 40*40
                                +ava("ava__middle ava__small-sm-mid", ava.c)
                            .comments_frame
                                .comments_header
                                    a.a-light.comments_author(href="", rel='author')  Иванна Хлебникова
                                    time.tx-date(datetime='2014-11-04T18:20:54+00:00') 2 минуты назад
                                .comments_cont
                                    .wysiwyg-content
                                        p Меняя название трека в альбоме он автоматически производит поиск по сайту и подцепляет естественно студийные версии песен вместо нужных.

                                - if (vars.user)
                                    .comments_footer
                                        +bControl("", bControl.e)
                    // комментарий 
                +articleUsers()
            //-
                // Пагинация для декстопа 
                +paginationRevers()

            #likesList.comments_hold.tab-pane
                .list-subsribe-users
                    ul.list-subsribe-users_ul
                        li.list-subsribe-users_li
                            +ava('ava__middle', ava.a)
                            a.a-light Ангелина Богоявленская
                            time.tx-date(datetime='1957-10-04') Сегодня 13:25

                            a.btn.btn-secondary.btn-sl
                                | Читаю
                        li.list-subsribe-users_li
                            +ava('ava__middle', ava.a)
                            a.a-light Ангелина Богоявленская
                            time.tx-date(datetime='1957-10-04') Сегодня 13:25

                            a.btn.btn-success.btn-sl
                                span.ico-plus
                                | Подписаться
            #favoritesList.comments_hold.tab-pane
                .list-subsribe-users
                        ul.list-subsribe-users_ul
                            li.list-subsribe-users_li
                                +ava('ava__middle', ava.a)
                                a.a-light Ангелина Богоявленская
                                time.tx-date(datetime='1957-10-04') Сегодня 13:25

                                a.btn.btn-success.btn-sl 
                                    span.ico-plus
                                    | Подписаться
                            li.list-subsribe-users_li
                                +ava('ava__middle', ava.a)
                                a.a-light Ангелина Богоявленская
                                time.tx-date(datetime='1957-10-04') Сегодня 13:25

                                a.btn.btn-secondary.btn-sl 
                                    | Читаю
    // /comments

- var commentsOpen = {}
- commentsOpen.a = {}
- commentsOpen.a.user = true

- commentsOpen.b = {}
- commentsOpen.b.user = false

- commentsOpen.commentPage = {}
- commentsOpen.commentPage.user = false


//-mixin comments-add-active(mod, vars)
    .comments-add
        // скрытый инпут, который заменяется на редактор
        input.comments-add_inp.itx-gray.display-n(type="text", placeholder="Добавить комментарий")
        script.
            $(document).ready(function () { 
              $('.wysiwyg-redactor').redactor({
                  autoresize: true,
                  toolbarExternal: '.wysiwyg-toolbar-btn',
                  minHeight: 45,
                  buttons: ['bold', 'italic', 'underline', '|', 'image', 'video', 'smile'],
                  buttonsCustom: {
                      smile: {
                          title: 'smile',
                          callback: function(buttonName, buttonDOM, buttonObject) {
                              // your code, for example - getting code
                              var html = this.get();
                          }
                      },
                      h2: {
                          title: 'h2',
                          callback: function(buttonName, buttonDOM, buttonObject) {
                              // your code, for example - getting code
                              var html = this.get();
                          }
                      },
                      h3: {
                          title: 'h3',
                          callback: function(buttonName, buttonDOM, buttonObject) {
                              // your code, for example - getting code
                              var html = this.get();
                          }
                      }
                  }
              });
            });
        .wysiwyg-h
            .wysiwyg-toolbar
                    a.wysiwyg-toolbar_close.ico-close3(href='')
                    .wysiwyg-toolbar-btn
            textarea.wysiwyg-redactor(name='', placeholder="Введите комментарий")
            .redactor-control.clearfix
                .float-r
                    .redactor-control_key
                        input#redactor-control_key-checkbox.redactor-control_key-checkbox(type='checkbox', name='')
                        label.redactor-control_key-label(for='redactor-control_key-checkbox') Enter - отправить
                    button.btn.btn-success.btn-m Комментировать



//- comment-add
    
    mod
    vars
mixin commentAdd (mod, vars)
    .comments_add
        //- .comment-add_t Комментировать
        - if (vars.state == 'guest')
            .comments_add-hold
                |  Комментировать от
                .ico-social-hold
                    a.ico-social.ico-social__odnoklassniki(href="")
                    a.ico-social.ico-social__vkontakte(href="")
                |  или 
                a.comment_add-a Войти
        - if (vars.state == 'user')
            .comments_add-frame
                .comments_i.clearfix
                    .comments_ava
                        // Аватарки размером 40*40
                        +ava("ava__middle ava__small-sm-mid", ava.c)
                    .comments_frame
                        // Когда уже есть комменты то текст placeholder: 
                            Введите ваш комментарий
                        textarea.itx-simple(placeholder="Введите комментарий первым", row="4", col='30')
                        .comments_add-editor
            .comments_add-frame
                .comments_i.clearfix
                    .comments_ava
                        // Аватарки размером 40*40
                        +ava("ava__middle ava__small-sm-mid", ava.c)
                    .comments_frame
                        // Когда уже есть комменты то текст placeholder: 
                            Введите ваш комментарий
                        textarea.itx-simple.display-n(placeholder="Введите комментарий первым", row="4", col='30')
                        .comments_add-editor
                            // Загружаем стили и скрипты редактора при необходимости
                            link(href="/lite/css/dev/redactor.css", rel="stylesheet", type="text/css")

                            // wisywig

                            //- script.
                            //-     window.jQuery || document.write('<script src="#{path}/javascript/jquery-1.11.1.min.js"><\/script>')
                            //- script(src="#{path}redactor/redactor.js")
                            //- script(src="#{path}redactor/lang/ru.js")
                            //- script(src="#{path}redactor/plugins/fullscreen/fullscreen.js")
                            //- script(src="#{path}redactor/plugins/btnvideo/btnvideo.js")
                            //- script(src="#{path}redactor/plugins/formatbtn/formatbtn.js") 
                            //-script.
                                
                                // элемент-список UL
                                var body = document.getElementByTagName('body')

                                // новый элемент
                                var scriptRedactor = document.createElement('LI')
                                scriptRedactor.innerHTML = '<script src="#{path}redactor/redactor.js"><\/script> \
                                <script src="#{path}redactor/lang/ru.js"><\/script> \
                                <script src="#{path}redactor/plugins/fullscreen/fullscreen.js"><\/script> \
                                '
                                cosole.log(scriptRedactor);
                                // добавление в конец
                                body.appendChild(scriptRedactor);

                            script.
                                $(document).ready(function () { 
                                  $('.wysiwyg-redactor').redactor({
                                      autoresize: true,
                                      toolbarExternal: '.wysiwyg-toolbar-btn',
                                      minHeight: 450,
                                      cleanFontTag: false ,
                                      cleanup: false,
                                      lang: 'ru',
                                      convertDivs: false,
                                      plugins: [ 'formatbtn', 'btnvideo' ,'fullscreen'],
                                      buttons: [  'image', ],
                                      focusCallback: function()
                                        {
                                            addBaron('.scroll');
                                        }
                                  });
                                });
                            .wysiwyg-post.redactor_box
                                .wysiwyg-toolbar
                                    .wysiwyg-toolbar-btn
                                .scroll
                                    .scroll_scroller
                                        .scroll_cont
                                            textarea.wysiwyg-redactor(name=''. colrow="9")
                                                p Недавно услышала такую фразу, что для счастья мужчине нужна женщина, а женщине нужно ВСЕ!!!!)))
                                                p Не знаю насколько это правда, 
                                                    b но я задумалась, 
                                                    |а что же на самом деле нужно 
                                                    i нашим мужчинам чтобы они чувствовали себя счастливыми.
                                                p Ведь на самом деле, 
                                                    small запросы у женщин очень большие,
                                                    | так ли это обстоит  у наших мужчин?
                                                h2 Что же на самом деле нужно нашим мужчинам
                                                p Может конечно они не признаются в своих самых заветных мечтах, но думаю вы догадывается, что для полного счастья не хватает вашему 
                                                    strike мужчине.
                                                    |  Как вы считаете?
                                                h3 Что же на самом деле нужно нашим мужчинам
                                                p Может конечно они не признаются в своих самых 
                                                // Через класс linkPost__img yправляется отображением изображения и кнопок управления 
                                                .linkPost.linkPost__img
                                                    .linkPost_hold.clearfix
                                                        .linkPost_close.ico-close4
                                                        .linkPost_img-hold
                                                            // Сделана карусель. Можно менять прозрачность у последователньости li-шек либо свдигать ul на 250пк по клику на стрелку. 
                                                            ul.linkPost_img-ul.clearfix
                                                                li.linkPost_img-li
                                                                    a(href="")
                                                                        //  
                                                                            Если фото в соотношении строн по горизонтали больше стандарта, то кадрируем (обрезаем) ширину к требуемым пропорциям.
                                                                            Если фото больше по высоте чем стандарт, делаем превью высотою в 180 пк, поулчится ширина меньше 250 пк, изображение станет по центру.
                                                                        img.linkPost_img(src="/new/images/example/w240-h183.jpg", alt="", height='180px')
                                                                li.linkPost_img-li
                                                                    a(href="")
                                                                        // 
                                                                            Если фото в соотношении строн по горизонтали больше стандарта, то кадрируем (обрезаем) ширину к требуемым пропорциям.
                                                                            Если фото больше по высоте чем стандарт, делаем превью высотою в 180 пк, поулчится ширина меньше 250 пк, изображение станет по центру.
                                                                        img.linkPost_img(src="/new/images/example/w250-h180.jpg", alt="")
                                                        .linkPost_in
                                                            // Заголовок лучше обрезать чере определенное количество символов, 3 строки приблизительно 85
                                                            a.linkPost_t(href="") Выделенные серверы под водой, буквально!? Перспективы разведения рыб в на серверах?! 88
                                                            // Блока с описанием нет в ссылке внутри статьи
                                                            // ссылка в 1 строку, остальное обрезается автоматически
                                                            a.linkPost_a(href="") http://habrahabr.ru/company/ ua-hosting/blog/222669/
                                                p Может конечно они не признаются в своих самых 
                                                ul
                                                    li Социальная сеть для всей семьи. Использование редакционных материалов happy-giraffe.ru возможно только 
                                                    li Письменного разрешения редакции и/или при наличии активной ссылки на источник. Все права на пользовательские картинки и тексты принадлежат их авторам.
                                                h3 Плетение из бисера кактус
                                                p Из бисера можно творить что угодно. Кто-то делает забавнейших животных, кто-то вышивает бисером невероятные цветы, кто-то создает бижутерию, ну а мы попробуем сплести из бисера кактусы. 
                                                ol
                                                    li Социальная сеть для всей семьи. Использование редакционных материалов happy-giraffe.ru возможно только 
                                                    li Письменного разрешения редакции и/или при наличии активной ссылки на источник. Все права на пользовательские картинки и тексты принадлежат их авторам.
                                                p заветных мечтах, но думаю вы догадывается, что для полного счастья не хватает вашему
                                                h4 Недавно услышала такую фразу
                                                pre inp-valid.inp-valid__abs.error

                                    .scroll_bar-hold
                                        .scroll_bar
                                            .scroll_bar-in



- var commentAdd = {}
- commentAdd.guest = {}
- commentAdd.guest.state = 'guest'

- commentAdd.user = {}
- commentAdd.user.state = 'user'
