
mixin imgGrid(mod, vars)
    // img-grid
    .img-grid(class=mod)
        // Что б изображения не падали, последний элемент может выступать до 5 пк за рамку, эти пиксели обрежуться.
        - each row in vars.rows
            // Ряд изображений
            .img-grid_row.clearfix
                - each item in row.img
                    //= item.color
                    - if (!item.color)
                        - if (item == 'album-photo-add')
                            // Нужно выставить высоту и ширину блоку, что б получалася полный ряд в desktop
                            .img-grid_i.visible-md-block(style="width: 280px; height: 380px;")
                                .album-photo-add.album-photo-add__m
                                    .album-photo-add_hold 
                                        | Загрузить еще
                                        br  
                                        | фото в альбом
                        - else
                            - if (row.albumPhotoDel)
                                .img-grid_i.img-grid_i__del

                                    .img-grid_img-pad
                                    // У изображений для экранов меньше 1024 соотношения сторон сохраняются 
                                    // 0,65 соотношение сторон
                                    // Для экранов больше 1024
                                    // Высота изображений может отличаться в зависимости от ряда
                                    picture.img-grid_picture
                                        source(srcset=path+'images/example/'+item.w1, media="(min-width: 1025px)")
                                        source(srcset=path+'images/example/photoalbum/2-960.jpg 1x, '+path+'images/example/photoalbum/1-1920.jpg 2x' media="(min-width: 640px)")
                                        img.img-grid_img(src=path+'images/example/photoalbum/1-1280.jpg', alt="Фото")
                                    // Заглушка удаленной фото
                                    +cap-empty('cap-empty__abs cap-empty__white', capEmpty.albumPhotoDel)
                                    - row.albumPhotoDel = false
                            - else 
                                .img-grid_i
                                    .img-grid_img-pad
                                    // Высота изображений может отличаться в зависимости от ряда в десктоп

                                    // телефоны до 480
                                    // height 300
                                    // width 480
                                    // устройства от w480
                                    // height 380
                                    // width 768
                                    // устройства от w768
                                    // height 500
                                    // width 960
                                    // десктоп и большие планшеты от w1000
                                    // Высота изображений 580
                                    // Ширина изображения 880
                                    picture.img-grid_picture


                                        source(srcset=path+'images/example/'+item.w1, media="(min-width: 1025px)")
                                        source(srcset=path+'images/example/photoalbum/2-960.jpg 1x, '+path+'images/example/photoalbum/1-1920.jpg 2x' media="(min-width: 640px)")
                                        img.img-grid_img(src=path+'images/example/photoalbum/1-1280.jpg', alt="Фото")
                                        //-
                                            source(srcset=path+'images/example/'+item.w1, media="(min-width: 1024px)")
                                            source(srcset=path+'images/example/'+item.w2, media="(min-width: 768px)")
                                            source(srcset=path+'images/example/'+item.w3, media="(min-width: 480px)")
                                            img(srcset=path+'images/example/'+item.w4, alt="Фото")

                                    //-img.img-grid_img(srcset="#{item}", sizes="100vw", alt="")
                                    
                                        
                                    if (vars.ovrPlayIco)
                                        span.ico-gif-l GIF
                                    .img-grid_overlay
                                        if (vars.ovrPlayIco)
                                            span.ico-ovrPlay.ico-ovrPlay__abs
                                            - vars.ovrPlayIco = false
                                        else
                                            span.ico-zoom.ico-zoom__abs
                                        - if (vars.inAlbum)
                                            - if (vars.ava == true)
                                                .img-grid_ico-ava.active
                                                - vars.ava = false
                                            - else 
                                                .img-grid_ico-ava
                                            - if (vars.inAlbum != 'withoutAlbum')
                                                - if (vars.album == true)
                                                    .img-grid_ico-album.active
                                                    - vars.album = false
                                                - else 
                                                    .img-grid_ico-album
                                            .img-grid_overlay-b
                                                a.ico-trash.powertip(href="", title="Удалить фото")
                                                // Отсутствует на gif изображениях
                                                a.ico-photo-edit.powertip(href="", title="Редактировать")
                                                a.ico-move.powertip(href="", title="Переместить")
                                    
                    - else
                        // До момента загрузки/показа изображения на .img-grid_i ставить класс .loading, затем убирать. Можно обсудить и обойтись без этого
                        //-.img-grid_i.loading

                            .b-album_img-pad
                            picture.img-grid_picture


                                source(srcset=path+'images/example/w280-h370-3.jpg', media="(min-width: 1025px)")
                                source(srcset=path+'images/example/photoalbum/2-960.jpg 1x, '+path+'images/example/photoalbum/1-1920.jpg 2x' media="(min-width: 640px)")
                                img.img-grid_img(src=path+'images/example/photoalbum/1-1280.jpg', alt="Фото")
                            //img.img-grid_img(src="#", alt="", width='160', height='260')



                        .img-grid_i.loading
                            .img-grid_img-pad
                            // Высота изображений может отличаться в зависимости от ряда в десктоп

                            // телефоны до 480
                            // height 300
                            // width 480
                            // устройства от w480
                            // height 380
                            // width 768
                            // устройства от w768
                            // height 500
                            // width 960
                            // десктоп и большие планшеты от w1000
                            // Высота изображений 580
                            // Ширина изображения 880
                            picture.img-grid_picture


                                source(srcset=path+'images/example/w160-h195-1.jpg', media="(min-width: 1025px)")
                                source(srcset=path+'images/example/photoalbum/2-960.jpg 1x, '+path+'images/example/photoalbum/1-1920.jpg 2x' media="(min-width: 640px)")
                                img.img-grid_img(src=path+'images/example/photoalbum/1-1280.jpg', alt="Фото")




                            //-.img-grid_overlay
                                span.ico-zoom.ico-zoom__abs
                            // Блок процесса загрузки фото
                            // Цвета 
                                img-grid_loading__purple
                                img-grid_loading__yellow
                                img-grid_loading__carrot
                                img-grid_loading__green
                                img-grid_loading__blue
                            .img-grid_loading(class="img-grid_loading__#{item.color}")
                                .img-grid_loading-hold
                                    //-.css-progress.css-progress__xl

                                    .loader-circle
                                        .loader-circle_hold
                                            .loader-circle_1
                                            .loader-circle_2
                                        //-svg#svg.svg-loader(version="1.1" viewBox="0 0 300 300" preserveAspectRatio="xMinYMin meet" class="svg-content")
                                            defs
                                                  rect#rect(width='50', height='150', rx='25', ry='25')
                                                g(transform='rotate(225 250 250)')
                                                    g
                                                        use#one(style='fill: #0FF0FF;', x='225', y='0', xlink:href='#rect')
                                                        use#five(style='fill: #0FF0FF;', x='225', y='350', xlink:href='#rect')
                                                    g(transform='rotate(45, 250, 250)')
                                                        use#two(x='225', y='0', xlink:href='#rect')
                                                        use#six(x='225', y='350', xlink:href='#rect')
                                                    g(transform='rotate(90, 250, 250)')
                                                        use#three(x='225', y='0', xlink:href='#rect')
                                                        use#seven(x='225', y='350', xlink:href='#rect')
                                                    g(transform='rotate(135, 250, 250)')
                                                        use#four(x='225', y='0', xlink:href='#rect')
                                                        use#eight(x='225', y='350', xlink:href='#rect')

                                    .img-grid_loading-tx Загрузка фотографии


- var imgGrid = {}

- imgGrid.loadingPurple = {}
- imgGrid.loadingPurple.color = 'purple'
- imgGrid.loadingYellow = {}
- imgGrid.loadingYellow.color = 'yellow'
- imgGrid.loadingCarrot = {}
- imgGrid.loadingCarrot.color = 'carrot'
- imgGrid.loadingGreen = {}
- imgGrid.loadingGreen.color = 'green'
- imgGrid.loadingBlue = {}
- imgGrid.loadingBlue.color = 'blue'

- imgGrid.img1 = {}
- imgGrid.img1.w1 = 'w280-h370-1.jpg'
- imgGrid.img1.w2 = 'w960-h630.jpg'
- imgGrid.img1.w3 = 'w750-h490.jpg'
- imgGrid.img1.w4 = 'w265-h400.jpg'

- imgGrid.img2 = {}
- imgGrid.img2.w1 = 'w280-h370-2.jpg'
- imgGrid.img2.w2 = 'w960-h630.jpg'
- imgGrid.img2.w3 = 'w750-h490.jpg'
- imgGrid.img2.w4 = 'w265-h400.jpg'

- imgGrid.img3 = {}
- imgGrid.img3.w1 = 'w280-h370-3.jpg'
- imgGrid.img3.w2 = 'w960-h630.jpg'
- imgGrid.img3.w3 = 'w750-h490.jpg'
- imgGrid.img3.w4 = 'w265-h400.jpg'

- imgGrid.rowColor = {}
- imgGrid.rowColor.img = [imgGrid.loadingPurple, imgGrid.loadingYellow, imgGrid.loadingCarrot, imgGrid.loadingGreen, imgGrid.loadingBlue]

- imgGrid.row1 = {}
- imgGrid.row1.img = ['w558-h360-1.jpg', 'w305-h360-1.jpg']

- imgGrid.row2 = {}
- imgGrid.row2.img = ['w305-h360-1.jpg', 'w558-h360-1.jpg']

- imgGrid.row3 = {}
- imgGrid.row3.img = [ imgGrid.img1, imgGrid.img2]


- imgGrid.row4 = {}
- imgGrid.row4.img = ['w305-h360-1.jpg', 'w558-h360-1.jpg']


- imgGrid.row5 = {}
- imgGrid.row5.img = [imgGrid.img1, imgGrid.img2 , imgGrid.img3]
- imgGrid.row5.inAlbum = {} //  в альбоме
- imgGrid.row5.ava = false
- imgGrid.row5.album = false
- imgGrid.row5.albumPhotoDel = true

- imgGrid.row6 = {}
- imgGrid.row6.img = ['album-photo-add', imgGrid.img1, imgGrid.img2 ]

- imgGrid.row7 = {}
- imgGrid.row7.img = [imgGrid.img1, imgGrid.img2 , imgGrid.img3 ]

//- path+'images/services/cook-choose/product-1-w460.jpg 100w,'+path+'images/example/w265-h400.jpg 480w, '+path+'images/example/w880-h580-1.jpg 768w,'+path+'images/example/w880-h585-1.jpg 1000w'
//- path+'images/services/cook-choose/product-1-w460.jpg 100w,'+path+'images/example/w265-h400.jpg 480w, '+path+'images/example/w880-h580-1.jpg 768w,'+path+'images/example/w280-h370-1.jpg 1000w'

- imgGrid.a = {}
- imgGrid.a.rows = [imgGrid.row1, imgGrid.row7, imgGrid.rowColor]
- imgGrid.a.inAlbum = {} //  в альбоме
- imgGrid.a.ava = true
- imgGrid.a.album = true

- imgGrid.b = {}
- imgGrid.b.rows = [imgGrid.row6, imgGrid.row7,  imgGrid.rowColor]
- imgGrid.b.inAlbum = {} //  в альбоме
- imgGrid.b.ava = true
- imgGrid.b.album = true

- imgGrid.c = {}
- imgGrid.c.rows = [imgGrid.row6, imgGrid.row5, imgGrid.rowColor]
- imgGrid.c.inAlbum = 'withoutAlbum' //  в альбоме без альбома
- imgGrid.c.ava = true

- imgGrid.e = {}
- imgGrid.e.rows = [imgGrid.row7,  imgGrid.rowColor] //imgGrid.row4, imgGrid.row5,
- imgGrid.e.inAlbum = false //   у гостя 
- imgGrid.e.ovrPlayIco = true  

