include ../../block/config
extend ../../extend/layout_loose
block vars
  - var bodyClass = 'body__bg1';

block layout
    // b-main 
    .b-main.b-main__white
        .b-main_cols.clearfix
            .b-main_col-1
                +sidebar-search('sidebar-search__big padding-0', {placeholder: 'Поиск'})
            .b-main_col-23
                +userAddRecord('userAddRecord__s', userAddRecord.a)
        .b-crumbs.b-crumbs__s
            .b-crumbs_tx Я здесь
            ul.b-crumbs_ul
                li.b-crumbs_li
                    a.b-crumbs_a(href="") Главная
                li.b-crumbs_li
                    +ava('ava__small', ava.a)
                li.b-crumbs_li.b-crumbs_li__last
                    span.b-crumbs_last Блог
        section.userSection
            .userSection_hold
                .userSection_left
                    h1.userSection_name Ангелина Богоявленская
                    .margin-b5.clearfix
                        | 33 года (28 января)
                    .location.locationsmall.clearfix
                        span.flag.flag-ua
                        span.location_tx
                            | Ярославская обл.
                            | Переславль-Залесский
                    .userSection_btn-hold.clearfix
                        a.userSection_btn.powertip(href='')
                            //
                                виды иконки друзья
                                userSection_ico__friend
                                userSection_ico__friend-add
                                userSection_ico__friend-added
                                userSection_ico__friend-append
                            span.userSection_ico.userSection_ico__friend-add
                        a.userSection_btn.powertip(href='')
                            span.userSection_ico.userSection_ico__dialog
                    .userSection_panel
                        ul.userSection_panel-ul
                            li.userSection_panel-li
                                a.userSection_panel-a(href="") Анкета
                            li.userSection_panel-li
                                a.userSection_panel-a(href="") Семья 
                            li.userSection_panel-li.active
                                a.userSection_panel-a(href="") Блог 
                            li.userSection_panel-li
                                a.userSection_panel-a(href="") Фото
                .userSection_center
                    .b-ava-large
                        .b-ava-large_ava-hold
                            +ava("ava__large ava__male", ava.c)
                        span.b-ava-large_online На сайте
                    .userSection_center-reg с Веселым Жирафом 2 года 5 месяцев 203 дня
                .userSection_right
                    +bFamily('', bFamily.a)
        .b-main_cont
            .userSubscribers
                span.userSubscribers_tx У моего блога 468 подписчиков
                ul.userSubscribers_ul
                    li.userSubscribers_li
                        +ava('ava__small', ava.a)
                    li.userSubscribers_li
                        +ava('ava__small', ava.b)
                    li.userSubscribers_li
                        +ava('ava__small', ava.c)
                    li.userSubscribers_li
                        +ava('ava__small', ava.b)
                    li.userSubscribers_li
                        +ava('ava__small', ava.a)
                a.userSubscribers_btn.btn-green-simple(href="") 
                    span.ico-plus.ico-plus__s.ico-plus__white
                    | Подписаться
            .b-main_col-hold
                .b-onair.b-main_onair
                    .b-onair_title Прямой эфир
                    ul.b-onair_ul
                        li.b-onair_li
                            a.b-onair_author(href="") Ангелина
                            .b-onair_time 5 минут назад
                            a.b-onair_t(href="") Моя Зоряна
                        li.b-onair_li
                            a.b-onair_author(href="") Ангелина
                            .b-onair_time 5 минут назад
                            a.b-onair_t(href="") Длинный заголовок про то Сколько весит ваш ребенок? и как много каши он съедает за раз
                        li.b-onair_li
                            a.b-onair_author(href="") ----!Длинноеимясчертачками!-----
                            .b-onair_time 5 минут назад
                            a.b-onair_t(href="") Сколько весит ваш ребенок?
                        li.b-onair_li
                            a.b-onair_author(href="") Ангелина
                            .b-onair_time 5 минут назад
                            a.b-onair_t(href="") Моя Зоряна
                        li.b-onair_li
                            a.b-onair_author(href="") Викториана
                            .b-onair_time 5 минут назад
                            a.b-onair_t(href="") Бабушкины советы. Липа лечебная
                        li.b-onair_li
                            a.b-onair_author(href="") Ангелина
                            .b-onair_time 5 минут назад
                            a.b-onair_t(href="") Моя Зоряна
                        li.b-onair_li
                            a.b-onair_author(href="") Викториана
                            .b-onair_time 5 минут назад
                            a.b-onair_t(href="") Бабушкины советы. Липа лечебная
                        li.b-onair_li
                            a.b-onair_author(href="") Юля
                            .b-onair_time 5 минут назад
                            a.b-onair_t(href="") Моя Зоряна
                        li.b-onair_li
                            a.b-onair_author(href="") Викториана
                            .b-onair_time 5 минут назад
                            a.b-onair_t(href="") Бабушкины советы. Липа лечебная
                        li.b-onair_li
                            a.b-onair_author(href="") Ангелина
                            .b-onair_time 5 минут назад
                            a.b-onair_t(href="") Моя Зоряна
                        li.b-onair_li
                            a.b-onair_author(href="") Ангелина
                            .b-onair_time 5 минут назад
                            a.b-onair_t(href="") Моя Зоряна
                        li.b-onair_li
                            a.b-onair_author(href="") Викториана
                            .b-onair_time 5 минут назад
                            a.b-onair_t(href="") Бабушкины советы. Липа лечебная
                        li.b-onair_li
                            a.b-onair_author(href="") Ангелина
                            .b-onair_time 5 минут назад
                            a.b-onair_t(href="") Моя Зоряна
                        li.b-onair_li
                            a.b-onair_author(href="") Викториана
                            .b-onair_time 5 минут назад
                            a.b-onair_t(href="") Бабушкины советы. Липа лечебная
                .b-main_col-article
                    +www-article_text('b-article__list')
                    +www-article_text('b-article__list')
                .b-main_col-sidebar
                    .adv-banner.adv-banner__bd
                        a(href="") 
                            img(src="#{path}images/example/w240-h400.jpg", alt="")
                    // Варианты цветов блока
                        article-similar__green
                        article-similar__blue
                        article-similar__lilac
                        article-similar__red
                        article-similar__yellow
                    .article-similar.article-similar__lilac
                        .article-similar_row
                            +ava('ava__small', ava.a)
                            a.article-similar_author(href="") Марина Правдин
                        .article-similar_row
                            a.article-similar_t(href="") Наши первые движения
                        .article-similar_img-hold
                            a(href="")
                                img.article-similar_img(src="#{path}images/example/w240-h165.jpg", alt="")
                    .article-similar.article-similar__red
                        .article-similar_row
                            +ava('ava__small', ava.a)
                            a.article-similar_author(href="") Марина Правдинwerwerweryrtyrtyrtyrtyrtyа
                        .article-similar_row
                            a.article-similar_t(href="") Наши первые движения
                        .article-similar_img-hold
                            a(href="")
                                img.article-similar_img(src="#{path}images/example/w240-h176.jpg", alt="")
                    .article-similar.article-similar__yellow
                        .article-similar_row
                            +ava('ava__small', ava.a)
                            a.article-similar_author(href="") Марина !!Красотуля!!
                        .article-similar_row
                            a.article-similar_t(href="") Наши первые движения по полу в окружении родителей
                        .article-similar_img-hold
                            a(href="")
                                img.article-similar_img(src="#{path}images/example/w240-h165.jpg", alt="")
                    .article-similar.article-similar__blue
                        .article-similar_row
                            +ava('ava__small', ava.a)
                            a.article-similar_author(href="") Марина Правдина
                        .article-similar_row
                            a.article-similar_t(href="") Коррекция фигуры: убираем висячий дряблый живот
                        .article-similar_img-hold
                            a(href="")
                                img.article-similar_img(src="#{path}images/example/w240-h183.jpg", alt="")
                    .article-similar.article-similar__green
                        .article-similar_row
                            +ava('ava__small', ava.a)
                            a.article-similar_author(href="") Марина Правдина
                        .article-similar_row
                            a.article-similar_t(href="") Обязательства мешают любовным отношениям
                        .article-similar_img-hold
                            a(href="")
                                img.article-similar_img(src="#{path}images/example/w240-h165.jpg", alt="")






