
//- ava
//- Аватары пользователей
//- mod 
    vars
        icoStatus 
            ico-status__online
            ico-status__offline
        src - путь к изобржению аватара
        avaSpan 
mixin ava(mod, vars)
    - if (vars.avaSpan)
        span.ava(class=mod, href='')
            img.ava_img(alt='', src='#{vars.src}')
    -else 
        - if (vars.avaNameTitle)
            a.ava.powertip(class=mod, href='', title=vars.avaNameTitle)
                - if (vars.icoStatus)
                    span.ico-status(class=vars.icoStatus)
                img.ava_img(alt='', src='#{vars.src}')
        - else 
            a.ava(class=mod, href='')
                - if (vars.icoStatus)
                    span.ico-status(class=vars.icoStatus)
                img.ava_img(alt='', src='#{vars.src}')



//- Большой аватар с кнопками пользователя
    mod
    vars 
        userNameTx
        userAge
        capUserDel
        icoFriend
        icoFriendAdd
mixin b-ava-large(mod, vars)
    // b-ava-large
    .b-ava-large(class=mod)
        .b-ava-large_ava-hold.clearfix
            - avaVars = {src: '/new/images/example/ava-large.jpg'}
            +ava("ava__large ava__male", avaVars)
            span.b-ava-large_online На сайте
            a.b-ava-large_bubble.b-ava-large_bubble__dialog(href='', title='Начать диалог')
                span.b-ava-large_ico.b-ava-large_ico__mail
                span.b-ava-large_bubble-tx
            a.b-ava-large_bubble.b-ava-large_bubble__photo(href='', title='Фотографии')
                span.b-ava-large_ico.b-ava-large_ico__photo
                span.b-ava-large_bubble-tx 50
            a.b-ava-large_bubble.b-ava-large_bubble__blog(href='', title='Записи в блоге')
                span.b-ava-large_ico.b-ava-large_ico__blog
                span.b-ava-large_bubble-tx 999
            - if (vars.icoFriend)
                a.b-ava-large_bubble.b-ava-large_bubble__friend(href='', title='Друг')
                    span.b-ava-large_ico.b-ava-large_ico__friend
                    span.b-ava-large_bubble-tx Друг
            - if (vars.icoFriendAdd)
                a.b-ava-large_bubble.b-ava-large_bubble__friend-add(href='', title='Добавить в друзья')
                    span.b-ava-large_ico.b-ava-large_ico__friend-add
                    span.b-ava-large_bubble-tx 
        .textalign-c
            a.b-ava-large_a(href='') 
                = vars.userNameTx 
            span.b-ava-large_age
                = vars.userAge 
        .location.location__small.clearfix
            .flag.flag-kz(title='Казахстан')
            span.location_tx Казахстан, Переславль-Залесский, Астраханская область
        - if (vars.family)
            //- b-family
            .b-family
                ul.b-family_ul
                    li.b-family_li
                        a.b-family_a(href='')
                            span.b-family_img-hold
                                //- Размеры изображений 55*55пк 
                                img.b-family_img(alt='', src='/images/example/w41-h49-1.jpg')
                            span.b-family_tx
                                span Жена
                    li.b-family_li
                        a.b-family_a(href='')
                            span.b-family_img-hold
                                span.ico-family.ico-family__boy-19
                            span.b-family_tx
                                span Сын
                                br
                                span 18 лет
                    li.b-family_li
                        a.b-family_a(href='')
                            span.b-family_img-hold
                                span.ico-family.ico-family__girl-3
                            span.b-family_tx
                                span Дочь
                                br
                                span 4,5 года
                    li.b-family_li
                        a.b-family_a(href='')
                            span.b-family_img-hold
                                span.ico-family.ico-family__boy-small
                            span.b-family_tx
                                span Дочь
                                br
                                span 2,5 года
                    li.b-family_li
                        a.b-family_a(href='')
                            span.b-family_img-hold
                                span.ico-family.ico-family__boy-small
                            span.b-family_tx
                                span Дочь
                                br
                                span 2,5 года
            //- /b-family
    // /b-ava-large