
//- .b-cap
//- Заглушка
    mod
    vars
        imgMod
        txTop
        txTopMod
        t
        tMod
        tx
        txMod
        txSub
        txSubMod
        topAbsMsg
        topAbsMsgMod

mixin cap-empty(mod, vars)
    // cap-empty
    .cap-empty(class=mod)
        if (vars.topAbsMsg)
            .cap-empty_abs-msg(class=vars.topAbsMsgMod)
                .cap-empty_abs-msg-hold!= vars.topAbsMsg
        else 
            .cap-empty_hold
                .cap-empty_img(class=vars.imgMod)
                - if (vars.txTop)
                    .cap-empty_tx-top(class=vars.txTopMod)!= vars.txTop
                - if (vars.t)
                    .cap-empty_t(class=vars.tMod)!= vars.t
                - if (vars.tx)
                    .cap-empty_tx(class=vars.txMod)!= vars.tx
                - if (vars.txSub)
                    .cap-empty_tx-sub(class=vars.txSubMod)!= vars.txSub
            .verticalalign-m-help
    // /cap-empty
    
- var capEmpty = {}
- capEmpty.friendsListItem = {}
- capEmpty.friendsListItem.txTop = "<a href='' class='b-ava-large_a'>Алекс Брянский</a>"
- capEmpty.friendsListItem.t = "Удален из друзей",
- capEmpty.friendsListItem.txSub = "<a href=''>Восстановить</a>"