mixin head (path)
    head
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        //- <meta http-equiv="X-UA-Compatible" content="IE=edge">
        title Happy Giraffe

        
        // including .css
        //- <link rel="stylesheet" type="text/css" href="../../../redactor/redactor.css" />
        <link rel="stylesheet" type="text/css" href="/new/css/all1.dev.css" />
        <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400&amp;subset=latin,cyrillic-ext,cyrillic">
        // including other jade works
        // ie8 
        //- <!--[if lt IE 9]><script src="http://cdnjs.cloudflare.com/ajax/libs/es5-shim/2.0.8/es5-shim.min.js"></script><![endif]-->

        //+scripts(path)
        script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
        script.
            window.jQuery || document.write('<script src="#{path}/javascript/jquery-1.10.2.min.js"><\/script>')

        script(src="#{path}javascript/bootstrap/dropdown.js")

        script(src="#{path}javascript/modernizr-2.7.1.min.js")

        //- tooltip
        //- script(src="#{path}/javascript/jquery.powertip.js")
        script(src="#{path}javascript/jquery.tooltipster.js")

        //- popup
        //- script(src="#{path}javascript/jquery.fancybox.js")
        script(src="#{path}javascript/jquery.magnific-popup.js")

        //- custom scroll
        script(src="#{path}javascript/baron.js")

        //- custom select
        //- script(src="#{path}javascript/selectize.js")
        script(src="#{path}javascript/select2.js")

        //- wisywig
        script(src="#{path}redactor/redactor.js")
        script(src="#{path}redactor/plugins/fullscreen/fullscreen.js")
        script(src="#{path}redactor/plugins/formatbtn/formatbtn.js")

        script(src="#{path}javascript/jquery.Jcrop.js")

        //- Базовый js (вызывается на всех страницах)
        script(src="#{path}javascript/common.js")
        //- js для работы в верстке
        script(src="#{path}javascript/common-markup.js")

        //- livereload
        script(src="//localhost:35729/livereload.js")
