mixin scripts(path)
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
    script.
        window.jQuery || document.write('<script src="#{path}/javascript/jquery-1.10.2.min.js"><\/script>')

    script(src="#{path}javascript/modernizr-2.7.1.min.js")

    //- tooltip
    //- script(src="#{path}/javascript/jquery.powertip.js")
    script(src="#{path}javascript/jquery.tooltipster.js")

    //- popup
    //- script(src="#{path}javascript/jquery.fancybox.js")
    script(src="#{path}javascript/jquery.magnific-popup.js")

    //- custom scroll
    script(src="#{path}javascript/baron.js")

    //- custom select
    //- script(src="#{path}javascript/selectize.js")
    script(src="#{path}javascript/select2.js")

    //- wisywig
    script(src="#{path}redactor/redactor.js")

    script(src="#{path}javascript/jquery.Jcrop.js")

    //- Базовый js (вызывается на всех страницах)
    script(src="#{path}javascript/common.js")
    //- js для работы в верстке
    script(src="#{path}javascript/common-markup.js")

    //- livereload
    script(src="//localhost:35729/livereload.js")

    