include ../../../block/config
extend ../../../extend/layout_base
block vars
    - var bodyClass = 'body__bg1 body__lite';
    - global.cssFile = 'services.css'; 

block layout

    // b-main 
    .b-main.clearfix

        .b-main_cont
            .b-crumbs.b-crumbs__s
                .b-crumbs_tx Я здесь:
                ul.b-crumbs_ul
                    li.b-crumbs_li
                        a.b-crumbs_a(href='#') Главная 
                    li.b-crumbs_li
                        a.b-crumbs_a(href='#') 
                            .ico-club.ico-club__s.ico-club__18 
                    li.b-crumbs_li
                        a.b-crumbs_a(href='#') Маршруты 
                    li.b-crumbs_li.b-crumbs_li__last
                        span.b-crumbs_last Киев-Донецк
        // Маршруты
        .map-route
            // Заголовок
            .b-main_cont
                .b-main_col-hold.clearfix
                    .heading-h1-hold
                        h1.heading-link-xxl Маршрут Киев &mdash; Донецк

            // Форма поиска маршрута
            .map-route-f.map-route-f__row
                .map-route-f_open-hold
                    // Клик отвечает за  показ формы поиска
                    span.map-route-f_open Составить другой маршрут
                // По умолчанию форма должна быть скрыта, с помощью стля или класса displa-n
                .map-route-f_hold
                    .map-route-f_i
                        input.itx-simple.map-route-f_inp.map-route-f_inp__a(type='text', name='', placeholder="Откуда")
                    .map-route-f_revers
                    .map-route-f_i
                        input.itx-simple.map-route-f_inp.map-route-f_inp__b(type='text', name='', placeholder="Куда")
                    .map-route-f_btn-hold
                        a.btn.btn-success.btn-xm(href='#') Проложить маршрут
                .map-route-f_tx
                    | Узнайте, как доехать на авто от Киева до Донецка. Схема трассы Киев-Донецк на карте. Выбирайте нужные вам дороги, трассы, шоссе и магистрали на пути от Киева до Донецка
            // /Форма поиска маршрута

            // Карта
            .route-canvas
                img(src="#{path}images/services/map-route/map.jpg", alt="", style="max-height: 100%;")
                // Если оишбка добавить класс errorMessage и непоказывать блок loader 
                .route-canvas_ovr.errorMessage
                    .route-canvas_ovr-hold
                        .route-canvas_ovr-tx
                            | Подождите. Мы формируем для вас маршрут.
            // Карта
            .route-canvas
                .widget-load
                    .widget-load_hold
                        .widget-load_loader 
                            #circular3dG
                                #circular3d_1G.circular3dG
                                #circular3d_2G.circular3dG
                                #circular3d_3G.circular3dG
                                #circular3d_4G.circular3dG
                                #circular3d_5G.circular3dG
                                #circular3d_6G.circular3dG
                                #circular3d_7G.circular3dG
                                #circular3d_8G.circular3dG
                        .widget-load_tx Идет загрузка

            // /Карта

            .b-main_col-hold.clearfix
                .map-route_aside
                    .map-route-calc
                        .map-route-calc_hold
                            .map-route-calc_item
                                .clearfix
                                    .map-route-calc_img.map-route-calc_img__car
                                        //-img(src='#{path}images/services/map-route/map-route-car.png', alt='')
                                    .map-route-calc_t Расстояние 
                                        span.hidden-xs между Киевом и Донецком
                                .map-route-calc_value
                                    | 1 388
                                    span.map-route-calc_units км. 
                                .map-route-calc_desc Столько километров от Киева до Донецка на автомобиле
                            .map-route-calc_item
                                .clearfix
                                    .map-route-calc_img.map-route-calc_img__time
                                        //-img(src='#{path}images/services/map-route/map-route-time.png', alt='')
                                    .map-route-calc_t
                                        | Время в пути 
                                        span.hidden-xs  от Киева до Донецка
                                label.map-route-calc_label(for='route-time')
                                    | Ср. скорость км / ч 
                                .map-route-calc_row.clearfix
                                    input.itx-simple.map-route-calc_itx(type='text', name='', value='80', id='route-time')
                                    .map-route-calc_value
                                        | 14 
                                        span.map-route-calc_units ч. 
                                        |  8
                                        span.map-route-calc_units мин.
                                .map-route-calc_desc Столько времени ехать от Киева до Донецка
                            .map-route-calc_item
                                .clearfix
                                    .map-route-calc_img.map-route-calc_img__fuel
                                        //-img(src='#{path}images/services/map-route/map-route-fuel.png', alt='')
                                    .map-route-calc_t
                                        | Расход  топлива
                                label.map-route-calc_label(for='route-fuel')
                                    | Ср. расход (л. / 100 км)
                                .map-route-calc_row.clearfix
                                    input.itx-simple.map-route-calc_itx(type='text', name='', value='80', id='route-fuel')
                                    .map-route-calc_value
                                        | 140
                                        span.map-route-calc_units л
                            .map-route-calc_item
                                .clearfix
                                    .map-route-calc_img.map-route-calc_img__cost
                                        //-img(src='#{path}images/services/map-route/map-route-cost.png', alt='')
                                    .map-route-calc_t
                                        | Стоимость топлива
                                label.map-route-calc_label(for='route-cost')
                                    | Ср. расход (л. / 100 км)
                                .map-route-calc_row.clearfix
                                    input.itx-simple.map-route-calc_itx(type='text', name='', value='80', id='route-cost')

                                    script(src="#{path}javascript/select2.js")
                                    script(src="#{path}javascript/select2_locale_ru.js")
                                    script.
                                        $(document).ready(function () {

                                                // Измененный tag select
                                            $(".select-cus__search-off").select2({
                                                minimumResultsForSearch: -1,
                                                dropdownCssClass: 'select2-drop__search-off',
                                                escapeMarkup: function(m) { return m; }
                                            });
                                            $(".select-cus__search-off .select2-search, .select-cus__search-off .select2-focusser").remove();

                                        });
                                    select.select-cus.select-cus__search-off.select-cus__gray(name='')
                                        option(value="1") руб / л.
                                        option(value="2") руб / гал.
                                        option(value='3') руб / бар.
                                    .map-route-calc_value
                                        | 3 898  
                                        span.map-route-calc_units руб.

                    .map-route_view 
                        | Маршрут просмотрели 
                        span.display-ib 6 895 
                        |  водителей 
                
                .map-route_cont
                    h2.heading-xl.visible-md-block Пункты следования на пути Киев &mdash; Донецк
                    table.map-route-table.visible-md-table
                        colgroup
                            col.map-route-table_col1
                            col.map-route-table_col2
                            col.map-route-table_col3
                            col
                            col
                            col
                            col
                        thead.map-route-table_thead
                            tr
                                td.map-route-table_thead-td
                                td.map-route-table_thead-td.textalign-l Пункт / регион
                                td.map-route-table_thead-td Трасса
                                td.map-route-table_thead-td Время участка 
                                td.map-route-table_thead-td Время в пути
                                td.map-route-table_thead-td Участок, км     
                                td.map-route-table_thead-td Всего, км
                        tbody
                            tr.map-route-table_tr
                                td.map-route-table_td
                                    .map-route-table_hold
                                        .map-route-start
                                td.map-route-table_td.textalign-l
                                    .map-route-table_hold
                                        strong Киев
                                        br
                                        | Вологодская обл. Волог
                                td.map-route-table_td
                                    .map-route-table_hold
                                        strong M8
                                td.map-route-table_td
                                    .map-route-table_hold
                                        | 0:00
                                td.map-route-table_td
                                    .map-route-table_hold
                                        | 1:00
                                td.map-route-table_td
                                    .map-route-table_hold
                                        | 0:00
                                td.map-route-table_td
                                    .map-route-table_hold
                                        | 1:00
                            tr.map-route-table_tr
                                td.map-route-table_td
                                    .map-route-table_hold
                                        .map-route-point 1
                                td.map-route-table_td.textalign-l
                                    .map-route-table_hold
                                        strong Киев
                                        br
                                        | Вологодская обл.
                                td.map-route-table_td
                                    .map-route-table_hold
                                        strong M8
                                td.map-route-table_td
                                    .map-route-table_hold
                                        | 0:00
                                td.map-route-table_td
                                    .map-route-table_hold
                                        | 1:00
                                td.map-route-table_td
                                    .map-route-table_hold
                                        | 0:00
                                td.map-route-table_td
                                    .map-route-table_hold
                                        | 1:00
                            tr.map-route-table_tr
                                td.map-route-table_td
                                    .map-route-table_hold
                                        .map-route-point 99
                                td.map-route-table_td.textalign-l
                                    .map-route-table_hold
                                        strong Киев
                                        br
                                        | Вологодская обл.
                                td.map-route-table_td
                                    .map-route-table_hold
                                        strong M8
                                td.map-route-table_td
                                    .map-route-table_hold
                                        | 0:00
                                td.map-route-table_td
                                    .map-route-table_hold
                                        | 1:00
                                td.map-route-table_td
                                    .map-route-table_hold
                                        | 0:00
                                td.map-route-table_td
                                    .map-route-table_hold
                                        | 1:00
                            tr.map-route-table_tr
                                td.map-route-table_td
                                    .map-route-table_hold
                                        .map-route-finish
                                td.map-route-table_td.textalign-l
                                    .map-route-table_hold
                                        strong Киев
                                        br
                                        | Вологодская обл.
                                td.map-route-table_td
                                    .map-route-table_hold
                                        strong M8
                                td.map-route-table_td
                                    .map-route-table_hold
                                        | 0:00
                                td.map-route-table_td
                                    .map-route-table_hold
                                        | 1:00
                                td.map-route-table_td
                                    .map-route-table_hold
                                        | 0:00
                                td.map-route-table_td
                                    .map-route-table_hold
                                        | 1:00

                    +adv-yandex()

                    //- +banReadMore()

                    // баннер на всю ширину
                    // href статьи http://www.happy-giraffe.ru/community/21/forum/photoPost/176862/
                    // Изабражение вставляется через background для поизиционирования через css
                    style(type='text/css').
                        /* Ширина изображения 600px */
                        .ban-read-more {
                            background-image: url('#{path}images/banner/ban-route-danger.jpg');
                        }
                        /* Ширина изображения до 1000px*/
                        @media (min-width: 640px) {
                            .ban-read-more {
                                background-image: url('#{path}images/banner/ban-route-danger-w1000.jpg');
                            }
                        }

                        /* 
                            .ban-read-more {
                                background-image: url('#{path}images/banner/ban-route__nice.jpg');
                            }

                            Изображения для других баннеров 
                            .ban-read-more {
                                background-image: url('#{path}images/banner/ban-route__nice2.jpg');
                            }

                            .ban-read-more {
                                background-image: url('#{path}images/banner/ban-route__nice3.jpg');
                            }
                        */

                    .ban-read-more
                        .ban-read-more_hold
                            .ban-read-more_cont
                                .ban-read-more_t-sub Рекомендуем для чтения
                                .ban-read-more_author.clearfix
                                    // Аватарки размером 40*40
                                    //-+ava("ava__middle ava__small-sm-mid hidden-xxs", avaSpan)
                                    span.ava.ava__middle.ava__small-sm-mid.hidden-xxs
                                        img.ava_img(src="http://img.happy-giraffe.ru/thumbs/40x40/220231/avabdc8f4a293ba7a8614e61a14082f0993.jpg", alt="")
                                    span.a-light Марина Шевкопляс
                                .ban-read-more_t 20 самых опасных маршрутов в мире
                                .ban-read-more_desc Для автомобилиста-новичка любая дорога с большим количеством перекрестков, поворотов, дорожных знаков, гаишников и медленных бабушек может быть...
                                .ban-read-more_arrow
        // /Маршруты

    // b-main 
    +layout-footer-lite()

