include ../../../block/config
extend ../../../extend/layout_base
block vars
    - var bodyClass = 'body__bg1 body__lite';
    - global.cssFile = 'services.css'; 

block layout

    // b-main 
    .b-main.clearfix
        
        // Хлебные крошки
        .b-main_cont
            .b-crumbs.b-crumbs__s
                .b-crumbs_tx Я здесь:
                ul.b-crumbs_ul
                    li.b-crumbs_li
                        a.b-crumbs_a(href='#') Главная 
                    li.b-crumbs_li
                        a.b-crumbs_a(href='#') Календарь развития ребенка 
                    li.b-crumbs_li.b-crumbs_li__last
                        span.b-crumbs_last Вашему ребенку 5 месяцев 

        // Заголовок страницы
        .b-main_cont 
            .b-main_col-wide    
                h1.heading-link-xxl.heading-link-xxl__center Вашему ребенку 5 месяцев 
            table.article-nearby.clearfix
                tr
                    td
                        a.article-nearby_a.article-nearby_a__l(href='#')
                            span.article-nearby_tx 4-й месяц 
                    td
                        a.article-nearby_a.article-nearby_a__r(href='#')
                            span.article-nearby_tx 6-й месяц
        // Описание страницы                  
        .b-main_row.b-main_row__brown-light
            .b-main_cont
                .b-main_col-article.b-main_col-article__center.tx-content
                    p.color-brown На пятом месяце малыш начинает демонстрировать свою самостоятельность, меняя позу во время сна и шустро переворачиваясь со спины на живот, а с живота на спину.

        // Контент
        .b-main_cont 
            .b-main_col-article.b-main_col-article__center
                .wysiwyg-content.tx-content
                    .b-border-img
                        // изображение
                        img(src="#{path}images/example/w600-h370-1.jpg", alt="")
                    h2.heading-m Первые параметры новорожденного
                    p Новорожденная девочка весит от 2 до 4,8 килограммов, длину тела имеет от 43,6 до 54,7 сантиметров, окружность головы 30,3 – 37,4 сантиметров, окружность груди  31 – 37 сантиметров.
                    p Новорожденный мальчик весит от 2,1 до 5 килограммов, имеет длину тела от 44,2 до 55,6 сантиметров, окружность головы 30,7 – 38,3 сантиметров, окружность груди 31,7 –37,8 сантиметров.
                    p Шкала Апгар позволяет быстро оценить состояние малыша. Новорожденный ребенок оценивается по нескольким признакам в первую минуту после рождения и через 5 минут. Оцениваются цвет кожи, рефлексы, тонус мышц, сердцебиение и дыхание. За каждый признак даётся от 0 до 2 баллов. На первой минуте в норме малыш набирает 7 – 8 баллов, а на пятой 8 – 10 баллов.
        //- .b-main_row__pink-lite
        // Список
        .b-main_row.calendar-serv-note.calendar-serv-note__blue-light
            .calendar-serv-note_count 5
            .b-main_cont
                .b-main_col-article.b-main_col-article__center
                    h2.calendar-serv-note_t В 5 месяцев ваш ребенок
                    ul.calendar-serv-note_ul
                        li.calendar-serv-note_li Весит от 4,8 до 10,5 килограммов
                        li.calendar-serv-note_li Имеет рост от 57 до 72,5 сантиметров
                        li.calendar-serv-note_li Имеет окружность головы от 37,5 до 46,4 сантиметров
                        li.calendar-serv-note_li Легко переворачивается
                        li.calendar-serv-note_li Любит сосать свои пальцы
                        li.calendar-serv-note_li Может обзавестись первыми зубами
                        li.calendar-serv-note_li На искусственном вскармливании пробует прикорм
                        li.calendar-serv-note_li Живёт по устоявшемуся режиму
                            
        // Контент
        .b-main_cont 
            .b-main_col-article.b-main_col-article__center
                .wysiwyg-content
                    h2.heading-m Долгожданная встреча
                    p После недолгих манипуляций новорожденный ребенок кладётся к маме на грудь или на живот. Он, такой маленький, обладает целым набором безусловных рефлексов, которые позволяют ему выжить. Так, даже без посторонней помощи новорождённый может с грудной клетки матери доползти до груди и отыскать сосок, чтобы поесть. Но обычно мамы сами пытаются дать грудь своему малышу. Первый телесный контакт, как и первое кормление, очень важен для ребёнка. Капля молозива, попавшая в маленький жадный ротик в это время, настроит пищеварительный тракт младенца на правильную работу, укрепит его иммунитет и защитит от аллергических заболеваний. Именно раннее прикладывание к груди обеспечит хорошую лактацию маме, а значит, ребёнок будет долго получать самое правильное и подходящее ему питание.
                    h2.heading-m Безусловные рефлексы новорожденного
                    p Только что родившийся малыш умеет плавать, не замёрзнет на морозе (конечно, при кратковременном пребывании), может ухватиться ручками за пальцы мамы и крепко держаться, так что его можно поднять. Если взять ребёнка под мышки, «поставить», чтобы он касался ногами твёрдой поверхности, и наклонить вперёд – он будет «шагать».
                    p После рождения малыш осматривается педиатром и при необходимости – другими специалистами. Если нет противопоказаний, с согласия матери новорожденный ребенок получает первую прививку – от вируса гепатита В.
                    p Вот такой он – новорожденный ребенок – маленький, но сильный и умелый!

                +adv-yandex()
        // Сервисы
        .b-main_row.b-main_row__blue-light.services-fast.margin-b0
            .b-main_cont
                .services-fast_hold
                    .b-main_col-article.b-main_col-article__center
                        .services-fast_t Полезные сервисы. Попробуйте!
                        ul.services-fast_ul
                            li.services-fast_li
                                a.services-fast_a(href='#') 
                                    .services-fast_ico
                                        img(src="#{path}images/services/service_img_1.png", alt="")
                                    .services-fast_tx 
                                        | Выбор имени 
                                        br
                                        | для ребенка
                            li.services-fast_li
                                a.services-fast_a(href='#') 
                                    .services-fast_ico
                                        img(src="#{path}images/services/service_img_2.png", alt="")
                                    .services-fast_tx 
                                        | Справочник 
                                        br
                                        | детских болезней
                            li.services-fast_li
                                a.services-fast_a(href='#') 
                                    .services-fast_ico
                                        img(src='#{path}images/services/service_img_3.png', alt="")
                                    .services-fast_tx 
                                        | Календарь
                                        br
                                        | прививок

        // баннер на всю ширину
        // Изабражение вставляется через background для поизиционирования через css
        style(type='text/css').
            /* Ширина изображения 600px */
            .ban-read-more {
                background-image: url('#{path}images/banner/calendar-pregnancy-w600-1.jpg');
            }
            /* Ширина изображения до 1000px*/
            @media (min-width: 640px) {
                .ban-read-more {
                    background-image: url('#{path}images/banner/calendar-pregnancy-w1000-1.jpg');
                }
            }
        .ban-read-more.hidden-md
            .ban-read-more_hold
                .ban-read-more_cont
                    .ban-read-more_t-sub следующая неделя
                    .ban-read-more_t 4 неделя беременности
                    .ban-read-more_desc На четвертой неделе беременности ваш малыш напоминает крохотный диск ... 
                    span.ban-read-more_arrow
        // /баннер
    // b-main 
    +layout-footer-lite()

