include ../../../block/config
extend ../../../extend/layout_base
block vars
    - var bodyClass = 'body__lite';
    - global.cssFile = 'blog.css'; 


mixin article-markdown(mod, vars)
    // Статья с текстом
    // b-article
    article.b-article.b-article__single.clearfix(class=mod)
        .b-article_cont.clearfix
            .b-article_cont-tale
            .b-article_header.clearfix
                .icons-meta
                    a.icons-meta_comment(href='#')
                        span.icons-meta_tx 35
                    .icons-meta_view
                        span.icons-meta_tx 305
                .float-l
                    +ava("ava__female ava__middle-sm-mid", ava.a)
                    a.b-article_author(href='#') Ангелина Богоявленская
                    time.tx-date(pubdate='1957-10-04') Сегодня 13:25
            h1.b-article_t Самое лучшее утро - просыпаюсь, а ты рядом
            .b-article_in.clearfix
                // .b-markdown - статья редактора
                .clearfix
                    .b-markdown
                            //if (vars.type == 'video')
                            .b-markdown_t-sub
                                | В половине чашке горячей воды разведем желатин. Дадим ему остыть. Желе для торта разводим согласно инструкции. 
                            .b-article_in-img
                                .video-container
                                    iframe(width='600', height='330', src='http://www.youtube.com/embed/IS9xI7Arrsk?wmode=transparent&feature=oembed&wmode=transparent', frameborder='0', allowfullscreen='')
                            p В половине чашке горячей воды разведем желатин. Дадим ему остыть. Желе для торта разводим согласно инструкции. Поломаем не небольшие кусочки крекер. Апельсин почистим и разберем на дольки. а не только лишь на экране, все же Роберт Паттинсон и Кристен Стюарт расстались и пока решили взять паузу в своих отношениях.
                            h2 Загловок H2
                            p В половине чашке горячей воды разведем желатин. Дадим ему остыть. Желе для торта разводим согласно инструкции. Поломаем не небольшие кусочки крекер. sdfsdfsdf
                            h3 Загловок H3
                            p В половине чашке горячей воды разведем желатин. Дадим ему остыть. Желе для торта разводим согласно инструкции. Поломаем не небольшие кусочки крекер. 

                            
                            //if (vars.type == 'photos')
                            //.b-markdown_t-sub
                                | В половине чашке горячей воды разведем желатин. Дадим ему остыть. Желе для торта разводим согласно инструкции. 
                            .b-article_in-img
                                img(alt='', src='#{path}images/example/w600-h415.jpg')
                                a.b-markdown_img-water(href='#') squarespace
                            p Солончак Уюни — высохшее соленое озеро. Во время сезона дождей солончак покрывается тонким слоем воды и превращается в самую большую в мире зеркальную поверхность. Представьте, что вы будете испытывать, гуляя по этому озеру под ночным звездным небом. 
                            h4 Загловок H4
                            .b-article_in-img
                                img(alt='', src='#{path}images/example/w600-h730-1.jpg')
                                a.b-markdown_img-water(href='#') nikon.ru
                            .b-markdown_description Поломаем не небольшие кусочки крекер. Апельсин почистим и разберем на дольки. а не только лишь на экране,
                            p В Финляндии можно остановиться в настоящем иглу. Только сделано оно из стекла. Но, несмотря на кажущуюся хрупкость строений, внутри иглу тепло и комфортно даже в лютые морозы. А если повезет, вы сможете увидеть настоящее северное сияние, пока наслаждаетесь отдыхом в мягкой кровати. 
                            h5 Загловок H5
                            p В половине чашке горячей воды разведем желатин. Дадим ему остыть. Желе для торта разводим согласно инструкции. Поломаем не небольшие кусочки крекер. Апельсин почистим и разберем на дольки. а не только лишь на экране, все же Роберт Паттинсон и Кристен Стюарт расстались и пока решили взять паузу в своих отношениях.
                            h6 Загловок H6
                            p В половине чашке горячей воды разведем желатин. Дадим ему остыть. Желе для торта разводим согласно инструкции. Поломаем не небольшие кусочки крекер. Апельсин почистим и разберем на дольки. а не только лишь на экране, все же Роберт Паттинсон и Кристен Стюарт расстались и пока решили взять паузу в своих отношениях.
                            p В половине чашке горячей воды разведем желатин. Дадим ему остыть. Желе для торта разводим согласно инструкции. Поломаем не небольшие кусочки крекер. Апельсин почистим и разберем на дольки. а не только лишь на экране, все же Роберт Паттинсон и Кристен Стюарт расстались и пока решили взять паузу в своих отношениях.
                            ol
                                li Нумерованный списко 1
                                li Нумерованный списко 2
                                li Нумерованный списко 3
                                li Нумерованный списко 4
                            p В половине чашке горячей воды разведем желатин. Дадим ему остыть. Желе для торта разводим согласно инструкции. Поломаем не небольшие кусочки крекер. Апельсин почистим и разберем на дольки. а не только лишь на экране, все же Роберт Паттинсон и Кристен Стюарт расстались и пока решили взять паузу в своих отношениях.
                            p В половине чашке горячей воды разведем желатин. Дадим ему остыть. Желе для торта разводим согласно инструкции. Поломаем не небольшие кусочки крекер. Апельсин почистим и разберем на дольки. а не только лишь на экране, все же Роберт Паттинсон и Кристен Стюарт расстались и пока решили взять паузу в своих отношениях.
                            p В половине чашке горячей воды разведем желатин. Дадим ему остыть. Желе для торта разводим согласно инструкции. Поломаем не небольшие кусочки крекер. Апельсин почистим и разберем на дольки. а не только лишь на экране, все же Роберт Паттинсон и Кристен Стюарт расстались и пока решили взять паузу в своих отношениях.
                            ul
                                li Маркерованный списко 1
                                li Маркерованный списко 2
                                li Маркерованный списко 3
                                li Маркерованный списко 4
                            p В половине чашке горячей воды разведем желатин. Дадим ему остыть. Желе для торта разводим согласно инструкции. Поломаем не небольшие кусочки крекер. Апельсин почистим и разберем на дольки. а не только лишь на экране, все же Роберт Паттинсон и Кристен Стюарт расстались и пока решили взять паузу в своих отношениях.
                            .b-markdown_description Поломаем не небольшие кусочки крекер. Апельсин почистим и разберем на дольки. а не только лишь на экране,


                        if (vars.type == 'day')
                            //-.b-markdown_t-sub
                                | В половине чашке горячей воды разведем желатин. Дадим ему остыть. Желе для торта разводим согласно инструкции. 
                            .markdown-day.markdown-day__1
                                .markdown-day_t Утро
                                p Всем привет. Меня зовут Оксана и мне 25. Я работаю стюардессой, хотя мне больше нравится говорить бортпроводником, в одной небольшой развивающейся авиакомпании. Постоянные составляющие моей жизни, вне зависимости от приоритетов: чемодан, самолет, движение, люди, гостиница, погода, путешествия. 
                                h3.markdown-day_img-hold
                                    img(alt='', src='#{path}images/example/w600-h415.jpg')
                                p Солончак Уюни — высохшее соленое озеро. Во время сезона дождей солончак покрывается тонким слоем воды и превращается в самую большую в мире зеркальную поверхность. Представьте, что вы будете испытывать, гуляя по этому озеру под ночным звездным небом. 
                            .markdown-day.markdown-day__2
                                .markdown-day_t День
                                p Солончак Уюни — высохшее соленое озеро. Во время сезона дождей солончак покрывается тонким слоем воды и превращается в самую большую в мире зеркальную поверхность. Представьте, что вы будете испытывать, гуляя по этому озеру под ночным звездным небом. 
                                .markdown-day_img-hold
                                    img(alt='', src='#{path}images/example/w600-h415.jpg')
                                p Всем привет. Меня зовут Оксана и мне 25. Я работаю стюардессой, хотя мне больше нравится говорить бортпроводником, в одной небольшой развивающейся авиакомпании. Постоянные составляющие моей жизни, вне зависимости от приоритетов: чемодан, самолет, движение, люди, гостиница, погода, путешествия. 

                            .markdown-day.markdown-day__3
                                .markdown-day_t Вечер
                                p Солончак Уюни — высохшее соленое озеро.
                                .markdown-day_img-hold
                                    img(alt='', src='#{path}images/example/w600-h415.jpg')
                                p Всем привет. Меня зовут Оксана и мне 25.

                            .b-markdown_description Поломаем не небольшие кусочки крекер. Апельсин почистим и разберем на дольки. а не только лишь на экране,
                            p В половине чашке горячей воды разведем желатин. Дадим ему остыть. Желе для торта разводим согласно инструкции. Поломаем не небольшие кусочки крекер. Апельсин почистим и разберем на дольки. а не только лишь на экране, все же Роберт Паттинсон и Кристен Стюарт расстались и пока решили взять паузу в своих отношениях.
                            



                        if (vars.type == 'compare')
                            //-.b-markdown_t-sub
                                | В половине чашке горячей воды разведем желатин. Дадим ему остыть. Желе для торта разводим согласно инструкции.
                            .markdown-compare.markdown-compare__l
                                h3 YUJIN Robot iClebo Arte YCR-M05-20 Silver
                                p A не только лишь на экране, все же Роберт Паттинсон и Кристен Стюарт расстались и пока решили взять паузу в своих отношениях.
                                .markdown-compare_img-hold
                                    // Можно оставить превью изображения как в статье. Будет ужиматься.
                                    img(alt='', src='#{path}images/example/w600-h415.jpg')
                                p Дадим ему остыть. Желе торта разводим согласно инструкции. Поломаем не небольшие кусочки крекер. Апельсин почистим и разберем на дольки. а не только лишь на экране, все же Роберт Паттинсон и Кристен Стюарт расстались и пока решили взять паузу в своих отношениях.
                            .markdown-compare.markdown-compare__r
                                h3 NEATO Botvac 85
                                p NEATO Botvac 85, самый мощный пылесос из серии Botvac. Устройство составляет карту комнаты исходя из показаний лазерного сканера, управляется посредством самого настоящего ЦП и ОС. То есть действительно робот. Устройство необычной формы, он не полностью круглый как конкуренты. Производитель утверждает, что так пылесос лучше очищает углы. Neato практически не запутывается и не попадает в «ловушки». Некоторые пылесосы забираются в ниши, из которых не могут выбраться, а вот Botvac 85 в сложных ситуациях старается поднять корпус над полом, чтобы уменьшить свою площадь, либо преодолеть препятствие. Основная комбинированная щетка 
                                .markdown-compare_img-hold
                                    // Можно оставить превью изображения как в статье. Будет ужиматься.
                                    img(alt='', src='#{path}images/example/w600-h415.jpg')
                                p Дадим ему остыть. Желе торта разводим согласно инструкции. Поломаем не небольшие кусочки крекер. Апельсин почистим и разберем на дольки. а не только лишь на экране, все же Роберт Паттинсон и Кристен Стюарт расстались и пока решили взять паузу в своих отношениях.
                            // 
                            .markdown-compare.markdown-compare__l
                                p A не только лишь на экране, все же Роберт Паттинсон и Кристен Стюарт расстались и пока решили взять паузу в своих отношениях.
                                .markdown-compare_img-hold
                                    // Можно оставить превью изображения как в статье. Будет ужиматься.
                                    img(alt='', src='#{path}images/example/w600-h415.jpg')
                                p Дадим ему остыть. Желе торта разводим согласно инструкции. Поломаем не небольшие кусочки крекер. Апельсин почистим и разберем на дольки. а не только лишь на экране, все же Роберт Паттинсон и Кристен Стюарт расстались и пока решили взять паузу в своих отношениях.
                            .markdown-compare.markdown-compare__r
                                h3 NEATO Botvac 85
                                p NEATO Botvac 85, самый мощный пылесос из серии Botvac. Устройство составляет карту комнаты исходя из показаний лазерного сканера, управляется посредством самого настоящего ЦП и ОС. То есть действительно робот. Устройство необычной формы, он не полностью круглый как конкуренты. Производитель утверждает, что так пылесос лучше очищает углы.
                                p Дадим ему остыть. Желе торта разводим согласно инструкции. Поломаем не небольшие кусочки крекер. Апельсин почистим и разберем на дольки. а не только лишь на экране, все же Роберт Паттинсон и Кристен Стюарт расстались и пока решили взять паузу в своих отношениях.
                            p 
                                b Вывод:  
                                | В половине чашке горячей воды разведем желатин. Дадим ему остыть. Желе для торта разводим согласно инструкции. Поломаем не небольшие кусочки крекер. Апельсин почистим и разберем на дольки. а не только лишь на экране, все же Роберт Паттинсон и Кристен Стюарт расстались и пока решили взять паузу в своих отношениях.


                        if (vars.type == 'collection')
                            //-.b-markdown_t-sub
                                | В половине чашке горячей воды разведем желатин. Дадим ему остыть. Желе для торта разводим согласно инструкции.
                            .b-article_in-img.b-markdown_img-hold
                                img(alt='', src='#{path}images/example/w600-h730-1.jpg')
                                a.b-markdown_img-water(href='#') nikon.ru
                            .b-markdown_li-tx 1
                            p В половине чашке горячей воды разведем желатин. Дадим ему остыть. Желе для торта разводим согласно инструкции. Поломаем не небольшие кусочки крекер. Апельсин почистим и разберем на дольки. а не только лишь на экране, все же Роберт Паттинсон и Кристен Стюарт расстались и пока решили взять паузу в своих отношениях.

                            .b-article_in-img.b-markdown_img-hold
                                img(alt='', src='#{path}images/example/w600-h415.jpg')
                                a.b-markdown_img-water(href='#') nikon.ru
                            .b-markdown_description Поломаем не небольшие кусочки крекер. Апельсин почистим и разберем на дольки. а не только лишь на экране,

                            .b-markdown_li-tx 2
                            p В половине чашке горячей воды разведем желатин. Дадим ему остыть. Желе для торта разводим согласно инструкции. Поломаем не небольшие кусочки крекер. все же Роберт Паттинсон и Кристен Стюарт расстались и пока решили взять паузу в своих отношениях.

                            .b-article_in-img.b-markdown_img-hold
                                img(alt='', src='#{path}images/example/w600-h730-1.jpg')
                                a.b-markdown_img-water(href='#') nikon.ru
                            .b-markdown_li-tx 3
                            p В половине чашке горячей воды разведем желатин. Дадим ему остыть. Желе для торта разводим согласно инструкции. Поломаем не небольшие кусочки крекер. 
                            p Дадим ему остыть. Желе торта разводим согласно инструкции. Поломаем не небольшие кусочки крекер. Апельсин почистим и разберем на дольки. а не только лишь на экране, все же Роберт Паттинсон и Кристен Стюарт расстались и пока решили взять паузу в своих отношениях.

                            .b-markdown_source
                                .b-markdown_source-tx
                                    | Источники:  
                                a.b-markdown_source-a(href='#') themuse   
                                a.b-markdown_source-a(href='#') flickr  
                                a.b-markdown_source-a(href='#') adme

                +likeControl('like-control__line', likeControl.base)
                +customLikes('', customLikes.base)
                
                +adv-yandex()

    // /b-article


- var articleMarkdown = {}
- articleMarkdown.a = {}
- articleMarkdown.a.type = 'video'

- articleMarkdown.b = {}
- articleMarkdown.b.type = 'photos'

- articleMarkdown.c = {}
- articleMarkdown.c.type = 'compare'

- articleMarkdown.d = {}
- articleMarkdown.d.type = 'day'

- articleMarkdown.e = {}
- articleMarkdown.e.type = 'collection'    




block layout
  
    // b-main 
    .b-main.clearfix
        
        .b-main_cont
            .b-crumbs.b-crumbs__s
                .b-crumbs_tx Я здесь
                ul.b-crumbs_ul
                    li.b-crumbs_li
                        a.b-crumbs_a(href="") Главная
                    li.b-crumbs_li
                        +ava('ava__small', ava.a)
                    li.b-crumbs_li.b-crumbs_li__last
                        span.b-crumbs_last Блог
            .b-main_col-hold.clearfix
                ///////
                // Основная колонка
                .b-main_col-article
                    +article-markdown('', articleMarkdown.a)

                    table.article-nearby.clearfix
                        tr
                            td
                                a.article-nearby_a.article-nearby_a__l(href='#')
                                    span.article-nearby_tx Как приготовить Монастыпскую избу 
                            td
                                a.article-nearby_a.article-nearby_a__r(href='#')
                                    span.article-nearby_tx Готовим  Торт Сметанник в домашних условиях
                    .adv-article
                        a(href="#", target="_blank")
                            img(alt='', src='#{path}images/example/w600-h400.jpg')

                    
                    +commentsOpen('', commentsOpen.b)
 
                // /Основная колонка

                ///////
                // Сайд бар
                // Содержимое загружaть отложено
                +sidebarArticle('', sidebarArticle.base)

    +layout-footer-lite()
 
