include ../../../block/config
extend ../../../extend/layout_base
block vars
    - var bodyClass = 'body__lite';
    - global.cssFile = 'member-user.css'; 
 
block layout
 
    .b-main
        .b-main_cont
            .b-crumbs.b-crumbs__m
                .b-crumbs_tx Я здесь
                ul.b-crumbs_ul
                    li.b-crumbs_li
                        a.b-crumbs_a(href="#") Главная
                    li.b-crumbs_li
                        +ava('ava__small', ava.a)
                    li.b-crumbs_li.b-crumbs_li__last
                        span.b-crumbs_last Семья

        +userSection('visible-md-block')
    
        .b-main_cont.b-main_cont__wide

            .family-user
                //-.ico-myfamily

                //-.family-photo
                    //a.ico-close4(href='#')
                    //.family-photo_t Семейное фото
                    //.family-photo_ovrlay
                    //.family-photo_b
                        a.ico-photo-edit.powertip(href='#', title='Редактировать')
                    // У изображений соотношения сторон сохраняются 
                    // соотношение сторон 3:4
                    picture.family-photo_img-picture
                    
                        //- source(srcset=path+'images/example/'+item.w1, media="(min-width: 1024px)")
                        //-source(srcset=path+'images/example/photoalbum/2-960.jpg 1x, '+path+'images/example/photoalbum/1-1920.jpg 2x' media="(min-width: 640px)")
                        //- source(srcset=path+'images/example/w880-h580-1.jpg', media="(min-width: 480px)")
                        img.family-photo_img-big(src='http://placekitten.com/880/660', alt="Фото")
                +bAlbum('', bAlbum.family)
                //- - bAlbum.d = {}
                //- - bAlbum.d.top = true
                //- - bAlbum.d.img = path+'images/services/cook-choose/product-1-w460.jpg 100w,'+path+'images/services/cook-choose/product-1.jpg 480w'
                //- - bAlbum.d.tx = 'Смотреть  <br> все фото &nbsp;'
                //- - bAlbum.d.prevAdd = false 


                //-.family-user_head-img-hold
                    // У изображений соотношения сторон сохраняются 
                    // 0,65 соотношение сторон
                    picture.family-user_head-img-picture
                    
                        //- source(srcset=path+'images/example/'+item.w1, media="(min-width: 1024px)")
                        source(srcset=path+'images/example/photoalbum/2-960.jpg 1x, '+path+'images/example/photoalbum/1-1920.jpg 2x' media="(min-width: 640px)")
                        //- source(srcset=path+'images/example/w880-h580-1.jpg', media="(min-width: 480px)")
                        img.family-user_head-img(src=path+'images/example/photoalbum/1-1280.jpg', alt="Фото")
                
                // family-about
                .family-about
                    .family-about_bubble
                       .family-about_t О нашей семье
                       .family-about_tx
                            | Наша семья состоит из трех человек: папа Дима, мама Наташа и доченька Машенька. История нашего знакомства с главой семейства началась еще 2 года назад, когда я поехала в командировку в г. Саратов. Тогда я с двумя своими коллегами отправились повышать квалификацию. Проучившись три недели, мы успешно сдали экзамены и готовились отправиться домой. За 3 часа до отправления поезда моя коллега решила познакомить меня со своим братом и говорит, шутя, что привезла ему невесту. Мы все посмеялись, пошутили, потом встречи, расставания, бесконечные звонки, тысячи смс ... Дима показал 
                    ul.family-about_ul
                        li.family-about_li
                            .family-about_img-hold
                                .ico-family-big.ico-family-big__husband
                            .family-about_member Я
                        li.family-about_li
                            .family-about_img-hold
                                .ico-family-big.ico-family-big__wife
                            .family-about_member Жена  Виктория
                        li.family-about_li
                            .family-about_img-hold
                                .ico-family-big.ico-family-big__boy-small
                            .family-about_member 
                                | Сын Данилка
                                | 16 месяцев
                        li.family-about_li
                            .family-about_img-hold
                                .ico-family-big.ico-family-big__girl-8
                            .family-about_member 
                                |Дочь
                                | от 6 до 12 лет
                        li.family-about_li
                            .family-about_img-hold
                                .ico-family-big.ico-family-big__girl-8
                            .family-about_member 
                                |Дочь
                                | от 6 до 12 лет
                // /family-about
                
                .visible-md
                    // family-member
                    .family-member
                        .family-member_row.clearfix
                            a.family-member_i(href='#')
                                img.family-member_img(src="#{path}images/example/w350-h450-1.jpg", alt="")
                                .family-member_overlay
                                    span.ico-zoom.ico-zoom__abs
                            // Ширину высчитывать в зависимости от фотографии 880 - щирина фото
                            // 
                            .family-member_about.family-member_about__green.family-member_about__right(style="width: 530px;")
                                .family-member_about-in
                                    .family-member_about-hold
                                        .ico-family-big.ico-family-big__wife
                                        .family-member_about-name 
                                            | Жена Виктория
                                    .family-member_about-tx-hold
                                        .family-member_about-tx В половине чашке горячей воды разведем желатин. Дадим ему остыть. Желе для торта разводим согласно инструкции. Поломаем не небольшие кусочки крекер. Апельсин почистим и разберем на дольки. а не только лишь на экране, все же Роберт Паттинсон и Кристен Стюарт расстались и покаВ половине чашке горячей воды разведем желатин. Дадим ему остыть. Желе для торта разводим согласно инструкции. Поломаем не небольшие кусочки крекер. Апельсин почистим и разберем на дольки. а не только лишь на экране, все же Роберт Паттинсон и Кристен Стюарт расстались и покаВ половине чашке горячей воды разведем желатин. Дадим ему остыть. Желе для торта разводим согласно инструкции. Поломаем не небольшие кусочки крекер. Апельсин почистим и разберем на дольки. а не только лишь на экране, все же Роберт Паттинсон и Кристен Стюарт расстались и пока

                        .family-member_row.clearfix
                            // Ширину высчитывать в зависимости от фотографии 880 - щирина фото
                            .family-member_about.family-member_about__carrot.family-member_about__left(style="width: 280px;")
                                .family-member_about-in
                                    .family-member_about-hold
                                        .ico-family-big.ico-family-big__husband
                                        .family-member_about-name 
                                            | Муж Потап
                                    .family-member_about-tx-hold
                                        .family-member_about-tx В половине чашке горячей воды разведем желатин. Дадим ему остыть. Желе для торта разводим согласно инструкции. 
                            a.family-member_i(href='#')
                                img.family-member_img(src="#{path}images/example/w600-h450-2.jpg", alt="")
                                .family-member_overlay
                                    span.ico-zoom.ico-zoom__abs

                        .family-member_row.clearfix
                            a.family-member_i(href='#')
                                img.family-member_img(src="#{path}images/example/w600-h450-2.jpg", alt="")
                                .family-member_overlay
                                    span.ico-zoom.ico-zoom__abs
                            .family-member_about.family-member_about__blue.family-member_about__right(style="width: 280px;")
                                .family-member_about-in
                                    .family-member_about-hold
                                        .ico-family-big.ico-family-big__boy-3
                                        .family-member_about-name 
                                            | Сын Вася 18 месяцев

                        .family-member_row.clearfix
                            .family-member_about.family-member_about__lilac(style="width: 100%;")
                                .family-member_about-in
                                    .family-member_about-hold
                                        .ico-family-big.ico-family-big__baby
                                        .family-member_about-name 
                                            | Сын Вася 18 месяцев
                                    .family-member_about-tx-hold
                                        .family-member_about-tx В половине чашке горячей воды разведем желатин. Дадим ему остыть. Желе для торта разводим согласно инструкции. 
                                



                    // /family-member
                    //-.i-allphoto 
                        a.i-allphoto_a(href="")
                            | Смотреть семейный альбом



        +layout-footer-lite()



